<div class="containerFull">


  <section class="categoryPanel">

    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>Lista de categorias</h4>
        </div>

      </div><!-- /.container-fluid -->
    </div><!-- /.container-fluid -->

    <div class="row">

      <div id="panelCategoryOPC" class="col-md-12 col-lg-6">
        <div class="card" style="min-height: 650px;">
          <div class="card-header">
            <!-- <h3 class="card-title">Fixed Header Table</h3> -->

            <div class="card-tools">
              <button (click)="this.openNewCategory()" style="width: 100%!important;"
                class="smallButton btn btn-success btn-flat">
                <i class="fas fa-plus"></i>
                Nueva categoria
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div *ngIf="(this.categoryList)" class="card-body table-responsive p-0" style="height: 300px;">

            <div *ngFor="let item of this.categoryList; let i = index" class="card principalSection collapsed-card">
              <div class="card-header">
                <h3 class="card-title">{{ item._category }}</h3>

                <div class="card-tools">

                  <button (click)="this.openUpdateCategory(item._id,'principal')" style="width: 100%!important;"
                    class="smallButton btn btn-success btn-flat">
                    <i class="fas fa-pencil-alt">
                    </i>
                    Editar
                  </button>

                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-plus"></i>
                  </button>

                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body subCatSection" style="display: nones">

                <ul *ngIf="(this.categoryList[i]._child) && this.categoryList[i]._child.length > 0">
                  <li *ngFor="let child of this.categoryList[i]._child">
                    <small>
                      {{ child.name }}
                    </small>
                    <div class="opc">
                      <button (click)="this.openUpdateCategory(item._id, 'child', child._id)"
                        style="width: 100%!important;" class="smallButton btn btn-success btn-flat">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Editar
                      </button>
                    </div>
                  </li>

                </ul>

              </div>

            </div>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>

    </div>

  </section>


  <section  class="content">

    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>Categorias en publicaciones</h4>
        </div>

      </div><!-- /.container-fluid -->
    </div><!-- /.container-fluid -->

    <div class="row">
      <div class="col-12">
        <div class="card">

          <div class="card-header">


            <div class="card-tools">
              <form ngNativeValidate #f="ngForm" (ngSubmit)="this.searchPost( f )" class="formDataSend"
              >

                <div class="input-group input-group-sm">
                  <input required ngModel name="arg" placeholder="Búsqueda de públicaciones" type="text" class="form-control" >
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-success">
                      <i class="fas fa-search"></i>
                    </button>
                    <button (click)="this.getAllPublications(1)" type="button" class="btn btn-success">
                      Todos
                    </button>
                  </div>
                </div>
              </form>
            </div>

          </div>
          <!-- /.card-header -->
          <div *ngIf="(this.posts) && this.posts.length > 0" class="card-body table-responsive p-0">
            <table class="table table-head-fixed text-nowrap">
              <thead>
                <tr>
                  <th>Publicación</th>
                  <th>Propietario</th>
                  <th>Categorias</th>
                  <th>Sub cateogrias</th>
                  <!-- <th>Opciones</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.posts; let i = index">

                  <td>
                    <a [routerLink]="['/admin/infoPost', item._id ]" class="hiperButton">
                      {{ item.title }}
                    </a>
                  </td>
                  <td>
                    <a [routerLink]="['/user', item.user._id]" routerLinkActive="active" class="hiperButton">
                      {{ item.user.name }} <br> {{ item.user.surname }} <br>
                    </a>
                    <small>
                      {{ item.user.role | roleTransform }}
                    </small>


                  </td>
                  <td>

                    <div *ngIf="(item._category[0])" class="conjuntoCat">


                      <select *ngIf="(this.categoryList)"
                        (change)="this.changeCategory($event.target.value, item._id, 'principal', 0)"
                        class="form-control">


                        <option *ngIf="(item._category[0]) && item._category[0]._principal._category != null" selected
                          disabled>
                          {{ item._category[0]._principal._category || '' }}
                        </option>


                        <option *ngIf="(!item._category[0])" value="" selected disabled></option>

                        <option *ngFor="let cp of this.categoryList" value="{{ cp._id }}">
                          {{ cp._category  }}
                        </option>


                      </select>
                    </div>

                    <!--  -->

                    <div *ngIf="(item._category[0]) && (item._category[0]._principal != null)" class="conjuntoCat">

                      <select *ngIf="(this.categoryList)"
                        (change)="this.changeCategory($event.target.value, item._id, 'principal', 1)"
                        class="form-control">



                        <option
                          *ngIf="(item._category[1]) && (item._category[1]._principal != null) && item._category[1]._principal._category != null"
                          selected disabled>
                          {{ item._category[1]._principal._category || '' }}
                        </option>


                        <option *ngIf="!(item._category[1]) || (item._category[1]._principal == null)" value="" selected
                          disabled></option>

                        <option *ngIf="item._category[0]._principal._category == null" value="" selected disabled>
                        </option>
                        <option *ngFor="let cp of this.categoryList" value="{{ cp._id }}">
                          {{ cp._category  }}
                        </option>
                      </select>
                    </div>

                    <div *ngIf="(item._category[1]) && (item._category[1]._principal != null)" class="conjuntoCat">



                      <select *ngIf="(this.categoryList)"
                        (change)="this.changeCategory($event.target.value, item._id, 'principal', 2)"
                        class="form-control">

                        <option
                          *ngIf="(item._category[2]) && (item._category[2]._principal != null) && item._category[2]._principal._category != null"
                          selected disabled>
                          {{ item._category[2]._principal._category || '' }}
                        </option>


                        <option *ngIf="!(item._category[2]) || (item._category[2]._principal == null)" value="" selected
                          disabled></option>


                        <option *ngFor="let cp of this.categoryList" value="{{ cp._id }}">
                          {{ cp._category  }}
                        </option>
                      </select>
                    </div>



                  </td>
                  <td>
                    <div *ngIf="(item._category[0])" class="conjuntoCat">


                      <select
                        *ngIf="(item._category[0]._principal) && (item._category[0]._principal._child) && item._category[0]._principal._child.length > 0"
                        (change)="this.changeCategory($event.target.value, item._id, 'child', 0)" class="form-control">


                        <option
                          *ngIf="(item._category[0]) && (item._category[0].child != '') && (item._category[0]._principal._category != null)"
                          selected disabled>
                          {{ item._category[0].child || '' }}
                        </option>


                        <option *ngIf="!(item._category[0]) || (item._category[0]._principal == null)" value="" selected
                          disabled></option>


                        <option *ngFor="let cp of item._category[0]._principal._child" value="{{ cp._id }}">
                          {{ cp.name  }}
                        </option>
                      </select>

                    </div>

                    <div *ngIf="(item._category[1])" class="conjuntoCat">


                      <select
                        *ngIf="(item._category[1]._principal) && (item._category[1]._principal._child) && item._category[1]._principal._child.length > 0"
                        (change)="this.changeCategory($event.target.value, item._id, 'child', 1)" class="form-control">


                        <option
                          *ngIf="(item._category[1]) && (item._category[1].child != '') && (item._category[1]._principal._category != null)"
                          selected disabled>
                          {{ item._category[1].child || '' }}
                        </option>


                        <option *ngIf="!(item._category[1]) || (item._category[1]._principal == null)" value="" selected
                          disabled></option>


                        <option *ngFor="let cp of item._category[1]._principal._child" value="{{ cp._id }}">
                          {{ cp.name  }}
                        </option>
                      </select>

                    </div>
                    <div *ngIf="(item._category[2])" class="conjuntoCat">


                      <select
                        *ngIf="(item._category[2]._principal) && (item._category[2]._principal._child) && item._category[2]._principal._child.length > 0"
                        (change)="this.changeCategory($event.target.value, item._id, 'child', 2)" class="form-control">


                        <option
                          *ngIf="(item._category[2]) && (item._category[2].child != '') && (item._category[2]._principal._category != null)"
                          selected disabled>
                          {{ item._category[2].child || '' }}
                        </option>


                        <option *ngIf="!(item._category[2]) || (item._category[2]._principal == null)" value="" selected
                          disabled></option>


                        <option *ngFor="let cp of item._category[2]._principal._child" value="{{ cp._id }}">
                          {{ cp.name  }}
                        </option>
                      </select>

                    </div>



                  </td>

                  <!-- <td>
                  <button (click)="this.changeCategoryPost(item._id)" style="width: 100%!important;"  class="smallButton btn btn-success btn-flat">
                    <i class="fas fa-pencil-alt">
                    </i>
                    Editar
                </button>
                </td> -->

                </tr>

              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->


        <app-global-paginator *ngIf="( this.postsPaginator != null ) && ( this.postsPaginator.pageCount >= 1 )"
          [paginator]="this.postsPaginator" (newPageResponse)="this.newPageResponse($event)">

        </app-global-paginator>

      </div>

    </div>


  </section>

</div>