@import "~src/generals"


// ul.menuRight
.navBurgerPublic
    @include responsivo(telefonoTable)
        // margin-left: auto!important
    // @include responsivo(pcMedio)
    @include responsivo(general)
        display: none!important
    @include responsivo(resto)
        display: none!important
// .navBurgerUser

// .logo,
.menuNav
    @include responsivo(telefonoTable)
        display: none!important
    @include responsivo(pcMedio)
        display: none!important
    li
        display: flex
        align-items: center
        a
            margin: auto 0
            padding-left: 7.5px
            padding-right: 7.5px
            i
                padding-right: 5px
            @include responsivo(general)
                font-size: 1vw
            @include responsivo(resto)
                font-size: 18px
.logo
    @include responsivo(telefonoTable)
        margin-left: auto!important
        margin-right: auto!important
        img
            width: 200px
            display: block
            margin: 0 auto
    img
        width: 175px

    // @include responsivo(pcMedio)


ul.navbar-nav.navBurgerPublic
    @include responsivo(telefonoTable)
        position: absolute

    // @include responsivo(pcMedio)
        // position: absolute




form.form-inline
    margin: auto 0
    margin-left: 5.5%!important
    padding: 15px 0

#navBar
    padding: 0
    position: relative
    padding-left: 1.25%
    padding-right: 1.25%
    @include responsivo(telefonoTable)
        min-height: 80px!important
        padding-right: 2.5%
        padding-left: 2.5%
    @include responsivo(pcMedio)
        min-height: 80px!important
        padding-right: 2.5%
        padding-left: 2.5%



.menuNav.navbar-nav
    margin-left: 1%

ul.menuRight
    width: fit-content
    // margin-right: 25px
    li
        padding: 15px 0
        // width: 250px
        display: flex
        flex-direction: row
        align-content: center
        justify-content: center
        // border-left: 1.5px solid rgba(0,0,0,0.4)
        // border-right: 1.5px solid rgba(0,0,0,0.4)
        .ico
            width: fit-content
            margin-right: 25px
            img
                height: 25px
                width: 25px
        a
            width: auto
            display: flex
            flex-direction: row
            justify-content: center
            align-content: center
            align-items: center
            margin: auto 0
            padding-left: 7.5px
            padding-right: 7.5px
            h6
                margin-bottom: 0
                display: block
            @include responsivo(general)
                font-size: 1vw
            @include responsivo(resto)
                font-size: 18px
    li.registerButton
        position: relative
        padding-left: 15px
        margin-left: 15px
        &::before
            border-left: 2px solid $GrisClar
            content: ''
            position: absolute
            left: 0
            top: 0
            bottom: 0
            margin: auto 0
            display: block
            height: 50%
    @include responsivo(telefonoTable)
        display: none!important
    // @include responsivo(pcMedio)





