
@import "~src/generals"

#footer
    padding-top: 50px
    padding-bottom: 25px
    // padding: 80px 0
    padding-left: 1.25%
    padding-right: 1.25%
    @include responsivo(telefonoTable)
        // min-height: 80px!important
        padding-right: 2.5%
        padding-left: 2.5%
    @include responsivo(pcMedio)
        // min-height: 80px!important
        padding-right: 2.5%
        padding-left: 2.5%
    .topFooter
        position: relative
        // padding-top: 25px
        .container
            .logo
                display: block
                margin: 0 auto
                margin-bottom: 25px
            ul.navMenu
                display: flex
                list-style: none
                flex-direction: row
                justify-content: center
                margin-bottom: 0
                padding: 0!important
                li.nav-item
                    margin: 0 15px
                    // a.navButton
            // margin-bottom: 60px
            position: relative
            padding-bottom: 15px
            margin-bottom: 25px
            &::after
                content: ''
                border-bottom: 1.5px solid rgba($GrisClar, 0.4)
                width: 35%
                left: 0
                right: 0
                bottom: 0
                position: absolute
                display: block
                margin: 0 auto
        // &::before
        //     content: ''
        //     border-top: 1.5px solid rgba($GrisClar, 0.4)
        //     width: 75%
        //     left: 0
        //     right: 0
        //     top: 0
        //     // padding-top:
        //     // bottom: 0
        //     position: absolute
        //     display: block
        //     margin: 0 auto
    .centerFooter
        p
            text-align: center
            width: 100%
            font-size: 22px
            color: $VerdeOscur
        .contact
            .cont
                display: flex
                flex-direction: column
                justify-content: center
                a
                    font-size: 18px
                    display: block
                    text-align: center
                    width: 100%
                    margin-bottom: 5px
                    img
                        width: 25px
        .documents
            .legales
                display: flex
                flex-direction: column
                justify-content: center
                a
                    width: 100%
                    text-align: center
                    display: block
                    margin-bottom: 5px
                    font-size: 18px
        .social
            ul.redes
                list-style: none
                display: flex
                flex-direction: row
                padding: 0!important
                justify-content: center
                li
                    margin: 0 10px
                    margin-bottom: 5px
                    a
                        // font-size: 18px
                        i
                            font-size: 42px
        @include responsivo(telefonoTable)
            display: flex
            flex-direction: column
            .social,
            .documents,
            .contact
                a
                    font-size: 14px!important
                    i
                        font-size: 28px!important
        @include responsivo(pcMedio)
            display: flex
            flex-direction: column
            .social,
            .documents,
            .contact
                a
                    font-size: 14px!important
                    i
                        font-size: 28px!important


    .baseFooter
        position: relative
        margin: 30px auto
        margin-bottom: 10px
        padding-bottom: 25px
        .copyright

            p
                text-align: center
                font-size: 16.5px
            @include responsivo(telefonoTable)
                p
                    font-size: 14px!important
            @include responsivo(pcMedio)
                p
                    font-size: 14px!important
        &::after
            content: ''
            position: absolute
            border-bottom: 1.5px solid rgba($GrisClar, 0.4)
            left: 0
            right: 0
            bottom: 0
            margin: 0 auto
            display: block
            width: 75%

