<footer id="footer" class="animated fadeIn fast main-footer">

  <div class="topFooter">
    <div class="container">
      <div [routerLink]="['/us']" #navlink routerLinkActive="active" class="logo pointer">
        <img src="../../../assets/dist/img/logoPyme.svg" alt="">
      </div>
      <!-- <ul class="navMenu"> -->
        <!-- <li class="nav-item"> -->
          <!-- <a class="navButton"  [routerLink]="['/aboutUs']" routerLinkActive="active"> -->
            <!-- Nosotros -->
          <!-- </a> -->
        <!-- </li> -->
        <!-- <li class="nav-item">
          <a class="navButton" [routerLink]="['/register']" routerLinkActive="active">
            Registra tu cuenta
          </a>
        </li> -->
      <!-- </ul> -->
    </div>
  </div>

  <div class="row centerFooter">

    <div class="social col-md-12 col-lg-4">

      <p>
        Síguenos
      </p>
            <ul class="redes">

        <li>
          <a href="">
            <i class="fab fa-facebook"></i>

          </a>
        </li>
        <li>
          <a href="">
            <i class="fab fa-instagram"></i>

          </a>
        </li>
        <li>
          <a ref="https://www.youtube.com/channel/UCCYndiz0YYma_SVWKKJigRA">

            <i class="fab fa-youtube    "></i>
            <!-- <i class="fab fa-youtube-square    "></i> -->

          </a>
        </li>

      </ul>

    </div>
    <div class="contact col-md-12 col-lg-4">
      <p>
        Contáctanos
      </p>
      <div class="cont">
      <a  href="mailto:info@mercadopyme.co">
        <img src="../../../assets/dist/img/email.svg" alt="">
        info@mercadopyme.co
      </a>
      <a  href="https://wa.me/573187158098?text=Hola+me+gustar%C3%ADa+contactarlos">
        <img src="../../../assets/dist/img/whatsapp.svg" alt="">
        +3187158098
      </a>


    </div>

    </div>
    <div class="documents col-md-12 col-lg-4">
      <p>
        Legales
      </p>
      <div class="legales">

        <a href="../../../assets/dist/documents/TERMINOS DE CONDICIONES DEL USO DEL SITIO-min.pdf">
          Términos y Condiciones
        </a>
        <a href="../../../assets/dist/documents/Política de Privacidad y Tratamiento de los Datos Personales-min.pdf">
          Políticas de privacidad
        </a>
      </div>

    </div>

  </div>

  <div class="baseFooter">
    <div class="copyright">
      <p>
        ©2020 Mercado Pyme. <br>
        Todos los derechos reservados
      </p>


    </div>
  </div>

</footer>

