
<div class="categorySection">



    <div class="menuProduct">


  <app-search
  *ngIf="this.GlobalConfigService.isMobile() == false"
  [title]="false"
  [backGreen]="false">

  </app-search>

      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item  has-treeview "
        [ngClass]="{'menu-open': this.GlobalConfigService.isMobile() == false}"
        >
          <a href="#" class="categoryBase nav-link">

            <p>
              Categoría
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <!-- style="display: block;" -->
          <ul class="nav nav-treeview"
          [ngStyle]="{'display': this.GlobalConfigService.isMobile() == true ? 'none': ''}">
<!--

  {'background-color':person.country === 'UK' ? 'green' : 'red' }

            <li *ngFor="let item of this._postService.categoryPrincipal, let i = index" class="nav-item">
              <a (click)="this.searchByCategory(item.base)" class="nav-link">
                <p>{{ item.base }}</p>
              </a>
            </li> -->
              <li *ngFor="let item of this._postService.categoryPrincipal, let i = index" class="nav-item has-treeview">

                <a (click)="this.searchByCategory(item.base, null)" class="nav-link" [ngClass]="{'active': this._searchService.catState.base == item.base}">
                  <p>
                    {{ item.base }}
                    <i class="right fas fa-angle-left"
                    [ngStyle]="{
                      'transform': (this._searchService.catState.base == item.base)? 'rotate(-90deg)': 'rotate(0deg)'
                    }"
                    ></i>
                  </p>
                </a>
                <ul class="nav nav-treeview"

                [ngStyle]="{
                  'display': (this._searchService.catState.base != item.base)? 'none': ''
                }"
                >
                <!-- 'display': this._searchService.catState.base != item.base -->

                  <li *ngFor="let child of this._postService.categoryPrincipal[i].child" class="nav-item">
                    <a (click)="this.searchByCategory(item.base, child)" class="nav-link" [ngClass]="{'active': this._searchService.catState.child == child}">

                      <p> {{ child }} </p>
                    </a>
                  </li>

                </ul>
              </li>





          </ul>
        </li>
        <li class="nav-item  has-treeview"
        [ngClass]="{'menu-open': this.GlobalConfigService.isMobile() == false}"
        >
          <a href="#" class="categoryBase nav-link">

            <p>
              Ubicación
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview"
          style="display: block;"
          [ngStyle]="{'display': this.GlobalConfigService.isMobile() == true ? 'none!important': ''}">


            <li  class="nav-item">

                <form
                ngNativeValidate
                #x="ngForm"

                (ngSubmit)="this.sendSearchByUbicacion( x )"
                class="formDataSend"
                class="buscador form-inline">
                    <div class="input-group input-group-sm">
                      <input ngModel name="city" class="form-control form-control-navbar" type="search" placeholder="Ciudad" aria-label="Ciudad">

                    </div>

                    <div class="centerCustom">
                        <button type="submit" style="color: white" class="buttonCustom btn btn-success btn-flat">Buscar</button>
                      </div>


                  </form>


            </li>



          </ul>
        </li>


<!--
        <li class="nav-item  has-treeview menu-open">
          <a href="#" class="categoryBase nav-link">

            <p>
              Relevancia
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: block;">

            <li  class="nav-item">
              <a (click)="this.searchByOrder('points', 'mayor')" class="nav-link">
                <p>Mejor calificación</p>
              </a>
            </li>
            <li  class="nav-item">
              <a (click)="this.searchByOrder('price', 'menor')" class="nav-link">
                <p>Menor precio</p>
              </a>
            </li>
            <li  class="nav-item">
              <a (click)="this.searchByOrder('price', 'mayor')" class="nav-link">
                <p>Mayor precio</p>
              </a>
            </li>



          </ul>
          </li> -->

          <!-- <li
          *ngIf="(this._searchService.catState) && (this._searchService.catState.base != null) && (this._searchService.catState.child != null)"
          class="nav-item  has-treeview menu-open">
            <a href="#" class="categoryBase nav-link">

              <p>
                Precio
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">

              <li  class="nav-item">

                  <form
                  ngNativeValidate
                  #h="ngForm"

                  (ngSubmit)="this.searchByPrice( h )"

                  class="buscador form-inline precio">
                      <div class="input-group input-group-sm">
                        <input ngModel name="minimo" class="form-control form-control-navbar" type="number" placeholder="Minimo" aria-label="Minimo">
                        <input ngModel name="maximo" class="form-control form-control-navbar" type="number" placeholder="Máximo" aria-label="Máximo">
                      </div>


                      <div class="centerCustom">
                          <button type="submit" style="color: white" class="buttonCustom btn btn-success btn-flat">Buscar</button>
                        </div>


                    </form>


              </li>



            </ul>
          </li> -->

          <li class="nav-item  has-treeview menu-open">
            <a href="#" class="categoryBase nav-link">

              <!-- <p>
                Todos
                <i class="right fas fa-angle-left"></i>
              </p> -->
            </a>
            <ul class="nav nav-treeview" style="display: block;">

              <li  class="nav-item">

                <div class="centerCustom">
                  <button (click)="this.getAll()" type="button" style="color: white" class="buttonCustom btn btn-success btn-flat">Ver todo</button>
                </div>

              </li>
            </ul>
          </li>



        </ul>


    </div>
  </div>


  <div *ngIf="(this._searchService.registros)  && this._searchService.registros.length > 0 && this.GlobalConfigService.isMobile() == true" id="VerResultados"
    (click)="goResults()"
    >
    <p>
      Ir a resultados
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </p>

  </div>
