




<div  id="listado" class="list" *ngIf="(this._searchService.registros) && (this._searchService.registros != null) && this._searchService.registros.length > 0">

  <div *ngIf="(this.type) && this.type=='sugerencia' " class="contentTitleHr">

    <h4 style="margin-bottom: 35px;" class="titleSpecial4">
      Productos similares
  </h4>
  <!-- <hr> -->
</div>
  <div *ngIf="(this.type) && this.type=='othersUser' " class="contentTitleHr">

    <h4 style="margin-bottom: 35px;" class="titleSpecial4">
      Otras publicaciones del usuario
  </h4>
  <!-- <hr> -->
</div>


    <div  class="row listResults">
      <div  *ngFor="let item of this._searchService.registros; let i=index" class="card rounded">

        <div (click)="goPublication(item._id)" *ngIf="item._files[0].type != 'PDF'" class="pointer card-header">
          <img class="card-img-top" [src]="item.thumbnail | imagen:'Post':item._id:true " alt="Card image">
        </div>
        <div (click)="goPublication(item._id)" *ngIf="(item._files[0]) && item._files[0].type == 'PDF'" class="pointer card-header">


          <pdf-viewer
          class="pdfList"
          [src]="item._files[0].file | imagen:'Post':item._files[0].folder "
          [render-text]="false"
          [page]="1"
          [show-all]="false"

          [original-size]="false"
          [autoresize]="false"
          style="display: block;">
          </pdf-viewer>


        </div>


        <div class="card-body">
            <span class="catego">
                {{ item._category.principal  }}
              </span>
          <small class="date">
            {{ item.created_at }}
          </small>
          <h4 class="card-title">
            {{ item.title | stringLimit:50 }}
          </h4>
          <!-- <div class="price">
            <small class="noPrice">
              $100.000
            </small>
            <span class="cost">

              {{ item._rangoPrize.min | numberFormat | currency : 'USD' : 'symbol' : '1.0-0'  }} - {{ item._rangoPrize.max | numberFormat | currency : 'USD' : 'symbol' : '1.0-0'  }}
            </span>
          </div> -->
          <p class="card-text">
            {{ item.content | stringLimit:215 }}
          </p>


        </div>
        <div class="card-footer">
            <div class="centerCustom">
                <a (click)="goPublication(item._id)" style="color: white" class="buttonCustom btn btn-success btn-flat">Ingresar</a>
              </div>

              <div class="reactions">
                <ul>
                  <li>
                    <a [ngClass]="{'active': item.myReaction == 'like'}" (click)="this.sendReaction(item ,'like')"
                    >
                    <!-- [ngClass]="{'active': this.reactions.myReaction == 'like'}" -->

                      <i class="fas fa-thumbs-up"></i>
                      <span   class="number">
                        {{ item.like }}
                        <!-- {{ this.reactions.like }} -->
                      </span>
                    </a>
                  </li>
                  <li>
                    <a [ngClass]="{'active': item.myReaction == 'dislike'}" (click)="this.sendReaction(item ,'dislike')"
                    >
                    <!-- [ngClass]="{'active': this.reactions.myReaction == 'dislike'}" -->

                    <i class="fas fa-thumbs-down"></i>
                    <span  class="number">
                      {{ item.dislike }}
                      <!-- {{ this.reactions.dislike }} -->
                    </span>
                  </a>
                  </li>
                </ul>
              </div>

        </div>

      </div>


      </div>


      <app-paginator
      *ngIf="(this._searchService.paginator) && this._searchService.paginator.pageCount > 0"
      ></app-paginator>

      <div *ngIf=" (this._searchService.registros) && this._searchService.registros.length == 0" class="row listResults">
        <h2 class="titleSpecial6" style="text-align: center; width: 100%; display: block">
          Sin resultados
        </h2>
      </div>

</div>