<aside  id="navDashboard" class="main-sidebar sidebar-dark-primary elevation-4" [ngClass]="{
  'navRespPublic': this._usersService.token == null,
  'navRespUser': this._usersService.token != null
}">
    <!-- Brand Logo -->
    <!-- <div class="entireLogo animated fadeIn fast">
      <img src="../../../assets/dist/img/logoPyme.svg" alt="">

    </div>
    <div class="favLogo animated fadeIn fast">
      <img src="../../../assets/dist/img/faPyme.svg" alt="">
    </div> -->

    <!-- Sidebar -->
    <div class="sidebar" >
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex" *ngIf="this._usersService.token != null">
        <div class="image">
          <img [src]="this._usersService.usuario.imgProfile | imagen:'User':this._usersService.usuario._id" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a class="d-block">{{ this._usersService.usuario.name }} {{ this._usersService.usuario.surname }}</a>
        </div>
      </div>




      <!-- Sidebar Menu -->
      <nav class="mt-2 menuNavAside" >

        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-header">Menú de navegación</li>

          <li class="nav-item registerButton">
            <a class="nav-link" [routerLink]="['/home']" #navlink routerLinkActive="active">
            <i class="fas fa-home    nav-icon"></i>
            <p>Home</p>
            </a>
          </li>

          <li class="nav-item registerButton">
            <a class="nav-link" [routerLink]="['/us']" #navlink routerLinkActive="active">
            <!-- <i class="fas     nav-icon"></i> -->
            <i class="fas fa-industry    nav-icon"></i>
            <p>Nosotros</p>
            </a>
          </li>


          <li *ngIf="this._usersService.token == null" class="nav-item loginButton">
            <a (click)="openLoginByAside()" class="nav-link"  #navlink [ngClass]="{
              'active': this._usersService.loginVisible == true
            }">
            <i class="fas fa-user-circle nav-icon"></i>
            <p>Inicia sesión</p>

            </a>
          </li>
          <li *ngIf="this._usersService.token == null" class="nav-item registerButton">
            <a class="nav-link" [routerLink]="['/register']" #navlink routerLinkActive="active">
              <i class="fas fa-user-plus nav-icon"></i>
            <p>Crea tu cuenta</p>
            </a>
          </li>



        </ul>
      </nav>


      <nav class="mt-2" *ngIf="this._usersService.token != null">

        <ul  *ngIf="this._usersService.usuario.role == 'ADMIN_ROLE'" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-header">Panel de Administración</li>
           <li class="nav-item">
            <a  class="nav-link" [routerLink]="['/admin/postManager']" routerLinkActive="active">
              <i class="fas fa-user-tie nav-icon"></i>
              <p>Gestión de publicaciones</p>
            </a>
          </li>


        </ul>

        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-header">Panel de usuario</li>
           <li class="nav-item">
            <a  class="nav-link" [routerLink]="['/dashboard/profile']" routerLinkActive="active">
              <i class="fas nav-icon fa-user"></i>
              <p>Perfil de usuario</p>
            </a>
          </li>

          <li *ngIf="this._usersService.usuario.role != 'ADMIN_ROLE'" class="nav-item">
            <a  #navlink class="nav-link" [routerLink]="['/dashboard/postControl']" routerLinkActive="active">
              <i class="fas nav-icon fa-tags"></i>
              <p>Control de publicaciones</p>
            </a>
          </li>

          <li class="nav-item">
            <a #navlink (click)="logout()" class="nav-link">
              <i class="fas fa-sign-out-alt nav-icon"></i>
              <p>Cerrar sesión</p>
            </a>
          </li>


        </ul>

      </nav>

      <nav class="mt-2 closeDashboard" >

        <ul  class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

          <li class="nav-item">

            <app-search></app-search>

          </li>

          <li class="nav-item">
            <a class="nav-link " #navlink href="#" role="button">
              <i class="fas fa-arrow-left nav-icon"></i>
              <p>
                Cerrar menú
              </p>
            </a>
          </li>

        </ul>
      </nav>

      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>