


<div id="newsletter">

<div class="text">
    <div class="c">


        <h4>
            Alerta Pyme
        </h4>
    <p>
        Suscríbete para recibir por e-mail los nuevos <br> productos y servicios
    </p>

</div>
</div>

<div class="form">


    <form
    ngNativeValidate
    #f="ngForm"
    (ngSubmit)="this.cargarNewsLetter( f )"
    class="form-inline ml-3">

      <div class="row input-group input-group-sm">
        <input required name="Nombre" ngModel class="form-control form-control-navbar" type="text" placeholder="Nombre completo" aria-label="Nombre">
      </div>
      <div class="row input-group input-group-sm">
        <input required name="Email" ngModel class="form-control form-control-navbar" type="email" placeholder="Dirección de email" aria-label="Email">
      </div>
      <div class="row input-group input-group-sm">
        <input required name="Ciudad" ngModel class="form-control form-control-navbar" type="text" placeholder="Ciudad" aria-label="Ciudad">
      </div>


      <div class="row formButtons">
        <button type="submit" class="smallButton btn btn-success btn-flat">Suscribir</button>
      </div>

    </form>




</div>

</div>