<div class="contenedorPadre" [ngClass]="{
    'fullWidth': this._usersService.token == null,
    'session': this._usersService.token != null
}">

<app-nav-bar></app-nav-bar>

<app-nav-dashboard></app-nav-dashboard>

    <div id="containGlobal">

        <router-outlet>

            <div class="spinner" id="spinner" *ngIf="this._globaConfig.spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>

        </router-outlet>
    </div>

<app-footer></app-footer>



</div>