<div class="containerFull">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Gestión de publicaciones

                        <small *ngIf="(this.paginator) && (this.paginator.itemCount >= 1)">
                            - {{ this.paginator.itemCount }}
                        </small>

                    </h1>
                </div>

            </div><!-- /.container-fluid -->
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card" *ngIf=" (this.allPublications) && this.allPublications.length > 0">

            <div class="card-body p-0">

                <table class="table table-striped projects">
                    <thead>
                        <tr>

                            <th>
                                Producto o servicio
                            </th>
                            <th>
                                Propietario
                            </th>
                            <th>
                                Categorías
                            </th>

                            <th>
                                Ciudades
                            </th>

                            <th>
                                Estado
                            </th>
                            <th>
                                Opciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of this.allPublications; let i = index">

                            <td>
                                <a>
                                    {{item.title}}
                                </a>
                                <br>
                                <small>
                                    {{item.created_at}}
                                </small>
                            </td>

                            <td>

                                <a [routerLink]="['/user', item.user._id]" routerLinkActive="active" class="hiper">
                                    {{ item.user.name }} <br> {{ item.user.surname }} <br>
                                </a>
                                <small>
                                    {{ item.user.role | roleTransform }}
                                </small>

                            </td>

                            <td>
                                <ul *ngIf="(item._category.length > 0)">
                                    <li *ngFor="let cate of item._category">
                                        <small *ngIf="(cate._principal != null) && (cate._child != null)">
                                            {{ cate._principal._category }} - {{ cate.child }}
                                        </small>
                                    </li>
                                </ul>
                            </td>


                            <td>

                                <ul *ngIf="(item._cityTarget) && item._cityTarget.length > 0">
                                    <li *ngFor="let t of item._cityTarget">
                                        {{ t.department }} - {{ t.city }}
                                    </li>
                                </ul>
                                <small *ngIf="(item._cityTarget) && item._cityTarget.length == 0">
                                    Sin detalles
                                </small>
                            </td>





                            <td *ngIf="(item.verify_at) &&  item.verify_at != null">


                                <span *ngIf="(!item.status)" class="badge badge-danger">No aprobado</span>
                                <p *ngIf="(!item.status) && (item._adminReasons)"
                                    style="text-align: left; margin-top: 10px;">
                                    {{ item._adminReasons.reasons }}
                                </p>


                                <span *ngIf="(item.status)" class="badge badge-success">Aprobado</span>

                            </td>
                            <td *ngIf="item.verify_at == null">

                                <span class="badge badge-warning">No revisado</span>


                            </td>

                            <td class="project-actions text-right">


                                <div class="row formButtons">


                                    <button [routerLink]="['/admin/infoPost', item._id ]"
                                        class="buttonCustom btn btn-success btn-flat">
                                        <i class="fas fa-folder">
                                        </i>
                                        Ver
                                    </button>
                                    <button (click)="this.verifyPublic(item._id, item.user)"
                                        class="buttonCustom btn btn-primary btn-flat">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Verificar
                                    </button>
                                    <button (click)="deletePublic(item._id)"
                                        class="buttonCustom btn btn-danger btn-flat">
                                        <i class="fas fa-trash">
                                        </i>
                                        Eliminar
                                    </button>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- existPublications -->

        <app-global-paginator *ngIf="( this.paginator != null ) && ( this.paginator.pageCount > 1 )"
            [paginator]="this.paginator" (newPageResponse)="this.newPageResponse($event)">

        </app-global-paginator>


        <div class="jumbotron" *ngIf="(this.allPublications) && this.allPublications.length == 0">
            <h1 class="titleSpecial2">Sin resultados</h1>
            <p>No hay publicaciones en este momento</p>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>