




<div class="containerFull" style="min-height: 1419.6px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Gestión de publicaciones</h1>
          </div>

      </div><!-- /.container-fluid -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Publicaciones</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body p-0">

          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th >
                          #
                      </th>
                      <th >
                        Producto o servicio
                      </th>
                      <th>
                        Archivos
                      </th>
                      <th >
                          Categoría(s)
                      </th>
                      <th>
                          Target
                      </th>
                      <th>
                          Ciudades
                      </th>
                      <th >
                          R.Precio
                      </th>
                      <th>
                          Status
                      </th>
                      <th>
                          Opciones
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of this.allPublications; let i = index">
                      <td>
                          {{i + 1}}
                      </td>
                      <td>
                          <a>
                              {{item.title}}
                          </a>
                          <br>
                          <small>
                              {{item.created_at}}
                          </small>
                      </td>
                      <td>

                          <ul *ngIf="item._files[0].type != 'PDF'" class="list-inline">

                            <li *ngFor="let files of item._files" class="list-inline-item">

                                  <img alt="Avatar" class="table-avatar" [src]="files.file | imagen:'Post':files.folder ">

                              </li>

                          </ul>
                          <ul *ngIf="item._files[0].type == 'PDF'" class="list-inline">

                              <a [href]="item._files[0].file | imagen:'Post':item._files[0].folder ">
                                  PDF
                              </a>

                          </ul>
                      </td>

                      <td>
                          
                      </td>

                      <td >
                        <ul *ngIf="item._target.length > 0">
                            <li *ngFor="let t of item._target">
                                {{t.tag}}
                            </li>
                        </ul>
                        <small *ngIf="item._target.length == 0">
                            Sin detalles
                        </small>
                      </td>
                      <td >

                        <ul *ngIf="item._cityTarget.length > 0">
                            <li *ngFor="let t of item._cityTarget">
                                {{ t.department }} - {{ t.city }}
                            </li>
                        </ul>
                        <small *ngIf="item._cityTarget.length == 0">
                            Sin detalles
                        </small>
                      </td>

                      <td>
                          {{ item._rangoPrize.min }} - {{ item._rangoPrize.max }}
                      </td>

                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" href="#">
                              <i class="fas fa-folder">
                              </i>
                              View
                          </a>
                          <a class="btn btn-info btn-sm" href="#">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="#">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>
                      </td>
                  </tr>

              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>