




<div class="containerFull" style="min-height: 1419.6px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Gestión de publicaciones</h1>
          </div>

      </div><!-- /.container-fluid -->
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card" *ngIf="this.allPublications.length > 0">

        <div class="card-body p-0">

          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th >
                          #
                      </th>
                      <th >
                        Producto o servicio
                      </th>
                      <th>
                        Archivos
                      </th>
                      <th >
                          Categoría
                      </th>
                      <th>
                          Dirigido a
                      </th>
                      <th>
                          Ciudades
                      </th>
                      <th >
                          R.Precio
                      </th>
                      <th>
                          Estado
                      </th>
                      <th>
                          Opciones
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of this.allPublications; let i = index">
                      <td>
                          {{i + 1}}
                      </td>
                      <td>
                          <a>
                              {{item.title}}
                          </a>
                          <br>
                          <small>
                              {{item.created_at}}
                          </small>
                      </td>
                      <td class="columFiles">

                          <ul *ngIf="item._files[0].type != 'PDF'" class="list-inline">

                            <li *ngFor="let files of item._files" class="list-inline-item">

                                  <img alt="Avatar" class="table-avatar" [src]="files.file | imagen:'Post':files.folder ">

                              </li>

                          </ul>
                          <ul *ngIf="item._files[0].type == 'PDF'" class="list-inline">

                              <a [href]="item._files[0].file | imagen:'Post':item._files[0].folder ">
                                  PDF
                              </a>

                          </ul>
                      </td>

                      <td>
                        <ul>
                            <li>
                                {{ item._category.principal }} - {{ item._category.child }}
                            </li>
                        </ul>
                      </td>

                      <td >
                        <ul *ngIf="item._target.length > 0">
                            <li *ngFor="let t of item._target">
                                {{t.tag}}
                            </li>
                        </ul>
                        <small *ngIf="item._target.length == 0">
                            Sin detalles
                        </small>
                      </td>
                      <td >

                        <ul *ngIf="item._cityTarget.length > 0">
                            <li *ngFor="let t of item._cityTarget">
                                {{ t.department }} - {{ t.city }}
                            </li>
                        </ul>
                        <small *ngIf="item._cityTarget.length == 0">
                            Sin detalles
                        </small>
                      </td>

                      <td>
                          {{ item._rangoPrize.min }} - {{ item._rangoPrize.max }}
                      </td>


                      <td>

                        <span *ngIf="item.status == false" class="badge badge-danger">No aprobado</span>
                        <span *ngIf="item.status == true" class="badge badge-success">Aprobado</span>

                      </td>

                      <td class="project-actions text-right">
                          <button  [routerLink]="['/admin/infoPost', item._id ]" style="width: 100%!important;" class="buttonCustom btn btn-success btn-flat">
                              <i class="fas fa-folder">
                              </i>
                              Ver
                          </button>
                          <button (click)="this.verifyPublic(item._id, item.user)" style="width: 100%!important;"  class="buttonCustom btn btn-primary btn-flat">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Verificar
                          </button>
                          <button style="width: 100%!important;" (click)="deletePublic(item._id)" class="buttonCustom btn btn-danger btn-flat">
                              <i class="fas fa-trash">
                              </i>
                              Eliminar
                          </button>
                      </td>
                  </tr>

              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- existPublications -->
      <div class="jumbotron" *ngIf="this.allPublications.length == 0">
        <h1 class="titleSpecial2">Sin resultados</h1>
        <p>No hay publicaciones en este momento</p>
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>