


    <div class="containerr">


    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Perfil de usuario</h1>
          </div>

        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-lg-3">

            <!-- Profile Image -->
            <div class="animated fadeIn fast card card-primary card-outline card-tabs">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle" [src]="this._usersService.usuario.imgProfile | imagen:'User':this._usersService.usuario._id " alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{this._usersService.usuario.name}} {{this._usersService.usuario.surname}}</h3>

                <p class="text-muted text-center">{{this._usersService.roleName}}</p>
                <hr>

                <ul *ngIf="this.usuarioInfo.statsGeneral" class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b><i class="fas fa-shopping-bag    "></i> Publicaciones</b> <a class="float-right">
                      {{ this.usuarioInfo.statsGeneral.publicaciones || 0 }}
                    </a>
                  </li>
                  <li class="list-group-item">
                    <b><i class="fas fa-thumbs-up"></i> Likes</b> <a class="float-right">
                      {{ this.usuarioInfo.statsGeneral.likes || 0 }}
                    </a>
                  </li>
                  <li class="list-group-item">
                    <b><i class="fas fa-comment    "></i> Comentarios</b> <a class="float-right">
                      {{ this.usuarioInfo.statsGeneral.comment || 0 }}
                    </a>
                  </li>
                  <li class="list-group-item">
                    <b><i class="fas fa-eye    "></i> Visitas</b> <a class="float-right">
                      {{ this.usuarioInfo.statsGeneral.visits || 0 }}
                    </a>
                  </li>
                </ul>


              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->


          </div>
          <!-- /.col -->
          <div class="col-md-12 col-lg-9">
            <div class="card animated fadeIn fast">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a (click)="clearFiles()" class="nav-link active buttonCustom" href="#profilePic" data-toggle="tab">Foto de perfil</a></li>

                  <li *ngIf="this._usersService.usuario.role == 'ADMIN_ROLE'"class="nav-item"><a (click)="clearFiles()" class="nav-link buttonCustom" href="#AdminSettings" data-toggle="tab">Información Administrador</a></li>

                  <li *ngIf="this._usersService.usuario.role != 'ADMIN_ROLE'"class="nav-item"><a (click)="clearFiles()" class="nav-link buttonCustom" href="#settings" data-toggle="tab">Información de usuario</a></li>

                  <li *ngIf="this._usersService.usuario.role == 'EMPRESA_ROLE' " class="nav-item"><a (click)="clearFiles()" class="nav-link buttonCustom" href="#infoPyme" data-toggle="tab">Información de empresa</a></li>

                  <li class="nav-item"><a (click)="clearFiles()" class="nav-link buttonCustom" href="#parameters" data-toggle="tab">Parametros de cuenta</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">

                  <div class="tab-pane active" id="profilePic">
                    <div class="fileConfig">
                      <form
                      ngNativeValidate
                      #i="ngForm"

                      class="formDataSend" action="">
                          <div class="form-group">
                              <label for="exampleInputFile">Foto de perfil</label>

                              <div class="input-group">

                                <div class="custom-file">
                                  <input (change)="seleccionImage($event.target.files[0])" ngModel name="img" type="file" class="custom-file-input" id="exampleInputFile">
                                  <label  class="custom-file-label" for="exampleInputFile">{{this.imageName}}</label>
                                </div>

                                <div class="input-group-append">
                                  <span (click)="subirImagen('User')" class="input-group-text" id="">Cambiar</span>
                                </div>

                              </div>

                            </div>
                        </form>
                    </div>



                </div>


                  <div *ngIf="this._usersService.usuario.role == 'ADMIN_ROLE'" class="tab-pane" id="AdminSettings">

                    <form
                    ngNativeValidate
                    #f="ngForm"

                    (ngSubmit)="userModifyAccount( f , 'natural')"
                    class="formDataSend" action="">

                    <h4 *ngIf="this._usersService.usuario.role == 'CLENTE_ROLE' " style="margin-bottom: 15px;" class="titleSpecial4">
                            Datos personales
                    </h4>
                    <h4 *ngIf="this._usersService.usuario.role == 'EMPRESA_ROLE' " style="margin-bottom: 15px;" class="titleSpecial4">
                            Datos personales del contacto encargado
                    </h4>
                          <hr>
                              <div class="row">
                             <div class="form-group clearfix col-md-12 col-lg-6">
                              <label for="Name">Nombres</label>
                            <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                            </div>

                            <input  [(ngModel)]="this.name" name="Name"  type="text" class="form-control"  >
                          </div>
                          </div>

                          <div class="form-group clearfix col-md-12 col-lg-6">
                            <label for="Surname">Apellidos</label>
                          <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              </span>
                          </div>
                          <input  [(ngModel)]="this.surname" name="Surname"  type="text" class="form-control"  >
                        </div>
                        </div>


                           <div class="form-group clearfix col-md-12 col-lg-6">
                            <label for="Age">Edad</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input  [(ngModel)]="this.year" name="Age"  type="number" class="form-control" >
                          </div>
                          </div>

                          <div class="form-group clearfix col-md-12 col-lg-6">
                            <label for="Gender">Género</label>
                          <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-venus-mars" aria-hidden="true"></i>
                                </span>
                              </div>
                              <select  [(ngModel)]="this.gender" name="Gender" class="form-control" >
                                  <option value="" disabled selected></option>
                                  <option value="Femenino">Femenino</option>
                                  <option value="Masculino">Masculino</option>
                                  <option value="No especificar">No especificar</option>

                                </select>
                          </div>
                          </div>


                          </div>

                          <div class="row">

                            <div class="form-group clearfix col-md-12 col-lg-6">
                              <label for="TypeId">Tipo de documento</label>
                            <div class="input-group" >
                              <div class="input-group-prepend">
                                  <span class="input-group-text">

                                    <i class="fas fa-id-badge"></i>
                                  </span>
                                </div>
                                <select [(ngModel)]="this.typeId" name="TypeId" class="form-control" >
                                    <!-- <option value="{{this.typeId}}" selected>{{this.typeId}}</option> -->
                                    <option *ngFor="let item of this.GlobalConfigService.tipoIdentificacion" (click)="permitId(item)"  value="{{item}}">
                                      {{item}}
                                    </option>


                                  </select>
                            </div>
                            </div>


                            <div class="form-group clearfix col-md-12 col-lg-6">
                              <label for="Identification">Número de identificación</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="fas fa-id-card"></i>
                                    </span>
                                </div>
                                <input  [(ngModel)]="this.identification" name="Identification"  type="text" class="form-control"  >
                              </div>
                          </div>

                          </div>


                          <h4 style="margin-bottom: 15px;" class="titleSpecial4">
                            Información de contacto
                          </h4>
                          <hr>

                                <div class="row">
                            <div class="form-group clearfix col-md-12 col-lg-6">
                              <label for="Phone">Teléfono</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input  [(ngModel)]="this.phone" name="Phone" type="tel" class="form-control"  >
                              </div>
                          </div>

                          <div class="form-group clearfix col-md-12 col-lg-6">
                            <label for="celPhone">Teléfono celular</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fas fa-mobile-alt"></i>
                                  </span>
                              </div>
                              <input  [(ngModel)]="this.celPhone" name="celPhone" type="tel" class="form-control"  >
                            </div>
                        </div>

                        <div class="form-group clearfix col-md-12 col-lg-6">
                          <label for="Department">Departamento</label>
                        <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                   <i class="fa fa-home" aria-hidden="true"></i>

                                </span>
                              </div>
                              <select [(ngModel)]="this.department" (change)="setCiudades($event.target.value)" name="Department" class="form-control"  >
                                  <option  selected >{{this.department}}</option>
                                  <option *ngFor="let item of this.GlobalConfigService.departamentos;"   value="{{item | json}}">
                                    {{item.departamento}}
                                  </option>

                                </select>
                          </div>
                          </div>

                           <div class="form-group clearfix col-md-12 col-lg-6">
                            <label for="City">Ciudad</label>
                          <div class="input-group" >
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                   <i class="fa fa-home" aria-hidden="true"></i>

                                </span>
                              </div>
                              <select  [(ngModel)]="this.city" name="City" class="form-control" >
                                  <option value="" selected>{{this.city}}</option>
                                  <option *ngFor="let item of this.ciudades"  value="{{item}}">
                                    {{item}}
                                  </option>

                                </select>

                          </div>
                          </div>


                          </div>





                          <div class="row formButtons centerCustom">
                            <button type="submit" class="buttonCustom btn btn-success btn-flat">Actualizar</button>
                          </div>

                    </form>


                  </div>


                   <div *ngIf="this._usersService.usuario.role != 'ADMIN_ROLE'" class="tab-pane" id="settings">


                 <form
            ngNativeValidate
            #f="ngForm"

            (ngSubmit)="userModifyAccount( f , 'natural')"
            class="formDataSend" action="">

            <h4 *ngIf="this._usersService.usuario.role == 'CLENTE_ROLE' " style="margin-bottom: 15px;" class="titleSpecial4">
                    Datos personales
            </h4>
            <h4 *ngIf="this._usersService.usuario.role == 'EMPRESA_ROLE' " style="margin-bottom: 15px;" class="titleSpecial4">
                    Datos personales del contacto encargado
            </h4>
                  <hr>
                      <div class="row">
                     <div class="form-group clearfix col-md-12 col-lg-6">
                      <label for="Name">Nombres</label>
                    <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>

                    <input  [(ngModel)]="this.name" name="Name"  type="text" class="form-control"  >
                  </div>
                  </div>

                  <div class="form-group clearfix col-md-12 col-lg-6">
                    <label for="Surname">Apellidos</label>
                  <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      </span>
                  </div>
                  <input  [(ngModel)]="this.surname" name="Surname"  type="text" class="form-control"  >
                </div>
                </div>


                   <div class="form-group clearfix col-md-12 col-lg-6">
                    <label for="Age">Edad</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input  [(ngModel)]="this.year" name="Age"  type="number" class="form-control" >
                  </div>
                  </div>

                  <div class="form-group clearfix col-md-12 col-lg-6">
                    <label for="Gender">Género</label>
                  <div class="input-group" >
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-venus-mars" aria-hidden="true"></i>
                        </span>
                      </div>
                      <select  [(ngModel)]="this.gender" name="Gender" class="form-control" >
                          <option value="" disabled selected></option>
                          <option value="Femenino">Femenino</option>
                          <option value="Masculino">Masculino</option>
                          <option value="No especificar">No especificar</option>

                        </select>
                  </div>
                  </div>


                  </div>

                  <div class="row">

                    <div class="form-group clearfix col-md-12 col-lg-6">
                      <label for="TypeId">Tipo de documento</label>
                    <div class="input-group" >
                      <div class="input-group-prepend">
                          <span class="input-group-text">

                            <i class="fas fa-id-badge"></i>
                          </span>
                        </div>
                        <select [(ngModel)]="this.typeId" name="TypeId" class="form-control" >
                            <!-- <option value="{{this.typeId}}" selected>{{this.typeId}}</option> -->
                            <option *ngFor="let item of this.GlobalConfigService.tipoIdentificacion" (click)="permitId(item)"  value="{{item}}">
                              {{item}}
                            </option>


                          </select>
                    </div>
                    </div>


                    <div class="form-group clearfix col-md-12 col-lg-6">
                      <label for="Identification">Número de identificación</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fas fa-id-card"></i>
                            </span>
                        </div>
                        <input  [(ngModel)]="this.identification" name="Identification"  type="text" class="form-control"  >
                      </div>
                  </div>

                  </div>

                  <div  *ngIf="this._usersService.usuario.role == 'EMPRESA_ROLE'"  class="row">

                    <div class="form-group clearfix col-md-12 col-lg-12">
                      <label for="positionCompany">Cargo actual</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="fa fa-user" aria-hidden="true"></i>
                          </span>
                      </div>
                      <input  [(ngModel)]="this.ngPositionCompany" name="positionCompany" type="text" class="form-control" required>
                    </div>
                  </div>
                  </div>


                  <h4 style="margin-bottom: 15px;" class="titleSpecial4">
                    Actividad económica
                  </h4>
                  <hr>
                  <div class="row">
                    <div class="form-group clearfix col-md-12 col-lg-12">
                      <!-- Select multiple-->
                      <div class="form-group">
                        <label>¿Cuál es tu sector económico?</label>
                        <select  multiple="" class="form-control"  name="estadosActividad" [(ngModel)]="this.estadosActividad">

                          <option *ngFor="let item of this.GlobalConfigService.actividadEconomica" value="{{item}}">
                            {{item}}
                          </option>

                        </select>
                      </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                      <div class="row">


                          <div class="form-group col-12 " *ngIf="this.estadosActividad.includes('Producción') == true">
                            <label for="Identification">¿Qué produces?</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="fas fa-users"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="this.ProduccionActivity" name="ProducciónActivity" type="text" class="form-control"  >
                              </div>
                            </div>
                          <div class="form-group col-12 " *ngIf="this.estadosActividad.includes('Comercialización') == true">
                            <label for="Identification">¿Qué comercializas?</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="fas fa-users"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="this.ComercializacionActivity" name="ComercializaciónActivity" type="text" class="form-control"  >
                              </div>
                            </div>
                          <div class="form-group col-12 " *ngIf="this.estadosActividad.includes('Servicios') == true">
                            <label for="Identification">¿Cuál servicio?</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="fas fa-users"></i>
                                    </span>
                                </div>
                                <input [(ngModel)]="this.ServiciosActivity" name="ServiciosActivity" type="text" class="form-control"  >
                              </div>
                          </div>
                          <div class="form-group col-12 " *ngIf="this.estadosActividad.includes('Otro') == true">
                            <label for="Identification">Describe tu actividad</label>
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="fas fa-users"></i>
                                  </span>
                              </div>
                              <input [(ngModel)]="this.OtroActivity" name="OtroActivity" type="text" class="form-control"  >
                            </div>
                        </div>


                        </div>

                     </div>


                  </div>

                  <h4 style="margin-bottom: 15px;" class="titleSpecial4">
                    Información de contacto
                  </h4>
                  <hr>

                        <div class="row">
                    <div class="form-group clearfix col-md-12 col-lg-6">
                      <label for="Phone">Teléfono</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            </span>
                        </div>
                        <input  [(ngModel)]="this.phone" name="Phone" type="tel" class="form-control"  >
                      </div>
                  </div>

                  <div class="form-group clearfix col-md-12 col-lg-6">
                    <label for="celPhone">Teléfono celular</label>
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-mobile-alt"></i>
                          </span>
                      </div>
                      <input  [(ngModel)]="this.celPhone" name="celPhone" type="tel" class="form-control"  >
                    </div>
                </div>

                <div class="form-group clearfix col-md-12 col-lg-6">
                  <label for="Department">Departamento</label>
                <div class="input-group" >
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="fa fa-home" aria-hidden="true"></i>

                        </span>
                      </div>
                      <select [(ngModel)]="this.department" (change)="setCiudades($event.target.value)" name="Department" class="form-control"  >
                          <option  selected >{{this.department}}</option>
                          <option *ngFor="let item of this.GlobalConfigService.departamentos;"   value="{{item | json}}">
                            {{item.departamento}}
                          </option>

                        </select>
                  </div>
                  </div>

                   <div class="form-group clearfix col-md-12 col-lg-6">
                    <label for="City">Ciudad</label>
                  <div class="input-group" >
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                           <i class="fa fa-home" aria-hidden="true"></i>

                        </span>
                      </div>
                      <select  [(ngModel)]="this.city" name="City" class="form-control" >
                          <option value="" selected>{{this.city}}</option>
                          <option *ngFor="let item of this.ciudades"  value="{{item}}">
                            {{item}}
                          </option>

                        </select>

                  </div>
                  </div>


                  </div>


                  <div class="titleOpc">

                    <h4 style="margin-bottom: 15px;" class="titleSpecial4">
                      Geolocalización
                    </h4>


                    <div class="form-group clearfix">
                      <label >Tus clientes sabrán donde está tu tienda física</label>

                    </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-12 col-lg-12">
                        <div class="formButtons centerCustom">

                          <button type="button" (click)="captrarLocalizacion()" class="buttonCustom btn btn-success btn-flat">Localizar</button>

                        </div>
                      </div>
                      <div  class="col-md-12 col-lg-12"  *ngIf="this.activateMap == true">

        <div [innerHtml]="this.coordsMap.mapUrl | safeUrl" style="width: 100%"></div>

        <div class="form-group col-12 ">
          <label for="Identification">Si estas en este momento en un lugar diferente al de tu tienda física y deseas agregar la ubicación, <a class="hiperbutton" target="_blank" href="https://maps.google.com/maps?q={{this.coordsMap.latitude}},{{this.coordsMap.longitude}}&hl=es;z=14">entra a google maps</a>, ubícala y pega aquí el link</label>
        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-map"></i>
                </span>
            </div>
            <input  [(ngModel)]="altMapUrl"  [ngModelOptions]="{standalone: true}" name="altMap" type="text" class="form-control" >
          </div>
      </div>



                      </div>
                    </div>






                  <div class="row formButtons centerCustom">
                    <button type="submit" class="buttonCustom btn btn-success btn-flat">Actualizar</button>
                  </div>

            </form>



                  </div>
                  <!-- /.tab-pane -->

                  <div *ngIf="this._usersService.usuario.role == 'EMPRESA_ROLE'" class="tab-pane" id="infoPyme">
                    <h4 style="margin-bottom: 15px;" class="titleSpecial4">
                      Logo de la empresa
                    </h4>
                    <hr>
                    <div class="row">
                      <div class="card-body box-profile">
                        <div class="text-center">
                          <img class="profile-user-img img-fluid img-circle" [src]="this._usersService.usuario._dataPyme.logo | imagen:'User':this._usersService.usuario._id " alt="User profile picture">
                        </div>

                    </div>
                    </div>
                    <div class="row">
                      <div class="fileConfig col-12">
                      <form
                      ngNativeValidate
                      #pyme="ngForm"
                      (ngSubmit)="userModifyPymeData( pyme )"
                      class="formDataSend" action="">
                          <div class="form-group">
                              <!-- <label for="exampleInputFile">Foto de perfil</label> -->

                              <div class="input-group">

                                <div class="custom-file">
                                  <input (change)="seleccionImage($event.target.files[0])" ngModel name="img" type="file" class="custom-file-input" id="exampleInputFile">
                                  <label  class="custom-file-label" for="exampleInputFile">{{this.imageName}}</label>
                                </div>

                                <div class="input-group-append">
                                  <span (click)="subirImagen('User', 'logo')" class="input-group-text" id="">Cambiar</span>
                                </div>

                              </div>

                            </div>

                            <h4 style="margin-bottom: 15px;" class="titleSpecial4">
                              Información de la empresa
                            </h4>
                            <hr>

                                <div class="row">
                                     <div class="form-group clearfix col-md-12 col-lg-6">
                                      <label for="nameCompany">Nombre comercial</label>
                                    <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fa fa-industry" aria-hidden="true"></i>

                                        </span>
                                    </div>
                                    <input [(ngModel)]="this.ngnameCompany"  name="nameCompany" type="text" class="form-control" required >
                                  </div>
                                  </div>

                                   <div class="form-group clearfix col-md-12 col-lg-6">
                                    <label for="NIT">NIT</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-address-card" aria-hidden="true"></i>

                                        </span>
                                    </div>
                                    <input [(ngModel)]="this.ngNIT"  name="NIT" type="text" class="form-control" required>
                                  </div>
                                  </div>
                                  </div>

                                  <div class="row">
                                   <div class="form-group clearfix col-md-12 col-lg-6">
                                    <label for="Reasons">Razón social</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-briefcase" aria-hidden="true"></i>

                                        </span>
                                    </div>
                                    <input [(ngModel)]="this.ngReasons"  name="Reasons" type="text" class="form-control" required >
                                  </div>


                                  </div>

                                     <div class="form-group clearfix col-md-12 col-lg-6">
                                    <label for="directionCompany">Dirección de empresa</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="fas fa-map-marker-alt"></i>

                                        </span>
                                    </div>
                                    <input [(ngModel)]="this.ngdirectionCompany"  name="directionCompany" type="text" class="form-control" required >
                                  </div>
                                  </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-md-12 col-lg-10">
                                      <div class="row">


                                    <div class="form-group clearfix col-12">
                                      <label for="companyPhone">Teléfono(s) de la empresa</label>
                                    <div class="input-group" *ngFor="let item of this.companyPhonee; let i = index">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <input  [(ngModel)]="this.companyPhonee[i].phonesCompany" [name]="'companyPhone' + i" type="tel" class="form-control" required >
                                      </div>
                                  </div>
                                  </div>
                                  </div>

                                  <div class="formButtons centerCustom col-md-12 col-lg-2" style="flex-direction: column;">
                                    <button style="width: 100%; min-width: 110px" type="button" (click)="addPhone()" class="buttonCustom btn btn-success btn-flat">+Teléf</button>
                                    <button style="width: 100%; min-width: 110px" type="button" (click)="addPhone('delete')" class="buttonCustom btn btn-danger btn-flat">-Teléf</button>
                                  </div>

                                  </div>

                                  <div class="row formButtons centerCustom">
                                    <button type="submit" class="buttonCustom btn btn-success btn-flat">Actualizar</button>
                                  </div>


                        </form>
                    </div>
                    </div>

                    </div>





                  <div class="tab-pane" id="parameters">


                    <div class="titleOpc">

                      <h4 style="margin-bottom: 15px;" class="titleSpecial4">
                        Cambio de correo eléctronico
                      </h4>




                      </div>
                      <hr>


                      <form
                      ngNativeValidate
                      #pp="ngForm"

                      (ngSubmit)="newEmailRequest( pp )"
                      class="formDataSend" action="">


                      <div class="row">
                        <div class="form-group clearfix col-md-12 col-lg-6">
                         <label for="Email">Email</label>
                       <div class="input-group">
                           <div class="input-group-prepend">
                             <span class="input-group-text">
                                 <i class="fas fa-envelope"></i>
                               </span>
                           </div>
                           <input  ngModel name="Email" type="email" class="form-control">
                       </div>
                       </div>




                       </div>
                       <div class="row">

                         <div class="formButtons clearfix col-md-12 col-lg-12">

                        <button type="submit" class="buttonCustom btn btn-success btn-flat">Cambiar correo</button>

                        </div>
                      </div>


                       </form>


                      <div class="titleOpc">

                        <h4 style="margin-bottom: 15px;" class="titleSpecial4">
                          Cambio de contraseña
                        </h4>


                        <div class="formButtons">

                        <button type="button" (click)="newPassRequest()" class="buttonCustom btn btn-success btn-flat">Solicitar</button>

                      </div>



                        </div>
                        <hr>
                        <div class="titleOpc">

                          <h4 style="margin-bottom: 15px;" class="titleSpecial4">
                            Eliminación de cuenta
                          </h4>


                          <div class="formButtons">

                        <button type="button" (click)="deleteAccountRequest()" class="buttonCustom btn btn-danger btn-flat">Solicitar</button>

                      </div>



                          </div>
                          <hr>





               </div>

                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>