  <!-- Content Wrapper. Contains page content -->
  <div id="homeContainer" class="content-wrapper fullWidth" style="min-height: 974.667px;">
    <!-- Content Header (Page header) -->
    <div class="headerBanner">
      <img src="../../../assets/resourcesWeb/homeBanner.jpg" alt="">

    </div>

    <div class="container centralHome">
      <div class="row">

        <div class="col-3">
          <div class="menuProduct">

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

              <li class="nav-item  has-treeview menu-open">
                <a href="#" class="categoryBase nav-link">

                  <p>
                    Categoria
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview" style="display: block;">

                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <p>Categoria 1</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <p>Categoria 2</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <p>Categoria 3</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <p>Categoria 4</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <p>Categoria 5</p>
                    </a>
                  </li>


                </ul>
              </li>
            </ul>

          </div>
        </div>

        <div class="col-9">

          <div class="productList">
            <h3 class="titleSection">
              Resultados
            </h3>
            <div class="list">


                <div class="card" style="width:400px">
                  <div class="card-header">

                    <img class="card-img-top" src="../../../assets/resourcesWeb/producto.jpg" alt="Card image">
                    <span class="catego">
                      Indumentaria
                    </span>
                  </div>
                  <div class="card-body">
                    <small class="date">
                      14/04/2020
                    </small>
                    <h4 class="card-title">
                      Lorem ipsum dolor sit, amet
                    </h4>
                    <div class="price">
                      <small class="noPrice">
                        $100.000
                      </small>
                      <span class="cost">
                        $80.000
                      </span>
                    </div>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero eveniet tempore doloribus inventore asperiores ullam consectetur aperiam </p>


                  </div>
                  <div class="card-footer">
                    <div class="opc">
                      <button type="button" class="btn btn-primary">Ingresar</button>
                    </div>
                  </div>

                </div>

              </div>
          </div>

        </div>

      </div>
    </div>
  </div>