
@import "~src/generals"

$verdePyme: #2D907C



#homeContainer
    .headerBanner
        width: 100%
        position: relative
        overflow: hidden
        // background-image: url('../../../assets/resourcesWeb/Banner.jpg')
        // backc
        // height: 330px
        img
            width: 100%
            // height: 350px
            height: 100%
            max-height: 280px
            object-fit: cover
            object-position: center
        .contenido
            top: 0
            right: 0
            left: 0
            bottom: 0
            position: absolute
            margin: auto
            display: flex
            flex-direction: column
            align-items: center
            align-content: center
            width: fit-content
            height: fit-content
            .c
                display: block
                margin: auto 0
                h4
                    font-size: 40px
                    color: $VerdeClar
                    text-align: center
                    margin-bottom: 5px
                    font-weight: bold
                h5
                    font-size: 20px
                    color: black
                    text-align: center
                    margin-bottom: 25px
                    font-weight: bold
                    // -webkit-text-stroke-width: 1px
                    // -webkit-text-stroke-color: white
                @include responsivo(telefonoTable)
                    h4
                        font-size: 5vw
                        line-height: 5vw
                    h5
                        font-size: 3vw
                        line-height: 3vw
                        margin-bottom: 15px
                        br
                            display: none
                @include responsivo(pcMedio)
                    h4
                        font-size: 5vw
                        line-height: 5vw
                    h5
                        font-size: 3vw
                        line-height: 3vw
                        // br
                            // display: none
            // .centerCustom
    @include responsivo(telefonoTable)
        img
            max-height: 35vw!important
        .buttonCustom
            font-size: 2.5vw!important
            padding: 5px 15px!important
    @include responsivo(pcMedio)
        img
            max-height: 35vw!important
        .buttonCustom
            font-size: 2vw!important
            padding: 5px 15px!important

    .subHeader
        margin-bottom: 0
        .goUs,
        .zonePyme
            display: flex
            flex-direction: row
            justify-content: center
            height: 150px
            align-items: center
            align-content: center
            a
                display: block
                margin: auto
                font-size: 28px
                font-weight: bold
        .goUS
            padding: 0
            background-color: $GrisOscur
            a
                color: white
        .zonePyme
            padding: 0
            position: relative
            img
                width: 100%
                // height: 350px
                height: 100%
                max-height: 150px
                object-fit: cover
                object-position: center
            .contenido
                top: 0
                right: 0
                left: 0
                bottom: 0
                position: absolute
                margin: auto
                display: flex
                flex-direction: column
                align-items: center
                align-content: center
                width: fit-content
                height: fit-content
                a
                    color: $VerdeOscur


.centralHome
    padding-top: 80px
    padding-bottom: 80px





.productList
    padding-left: 1.25%
    h5.titleSection
        font-size: 22px
        color: $verdePyme
        margin-bottom: 50px
        @include responsivo(telefonoTable)
            text-align: center
        @include responsivo(pcMedio)
            text-align: center


.centerContenido
    padding: 50px 0
    width: 100%!important
    background-color: $fondoGrisDesign
    // .categorySection

    // .resultList



.extraAnuncio
    background-color: $GrisClar
    padding: 75px 0
    display: flex
    flex-direction: row
    justify-content: center
    justify-items: center
    .text
        position: relative
        display: flex
        h4
            color: white
            font-size: 42px
            line-height: 45px
            font-weight: bold
            padding-right: 15px
            margin: auto 0
            display: block
            // margin-top: 0
            // margin-bottom: 0
        &::after
            border-right: 1.5px solid white
            content: ''
            height: 100%
            display: block
            right: 0
            top: 0
            bottom: 0
            margin: auto 0
            position: absolute
    .infoButton
        padding-left: 15px
        p
            color: white
            font-size: 18px
            line-height: 19px
        // .c
    @include responsivo(telefonoTable)
        padding-left: 2.5%
        padding-right: 2.5%
        flex-direction: column!important
        .text
            text-align: center
            width: 100%
            padding-bottom: 15px
            padding-right: 0
            h4
                width: 100%
                text-align: center
                font-size: 36px
                line-height: 36px
            &::after
                border-bottom: 1.5px solid white
                top: unset
                right: 0
                left: 0
                bottom: 0
                margin: 0 auto
                width: 50%
                border-right: 0
        .infoButton
            padding-top: 15px
            padding-left: 0
            p
                text-align: center
                font-size: 18px
                line-height: 18px
            .formButtons
                display: flex
                justify-items: center
                justify-content: center
                button
                    margin: 0 auto
                    display: block

    @include responsivo(pcMedio)
        padding-left: 2.5%
        padding-right: 2.5%
        flex-direction: column!important
        .text
            text-align: center
            width: 100%
            padding-bottom: 15px
            padding-right: 0
            h4
                width: 100%
                text-align: center
            &::after
                border-bottom: 1.5px solid white
                top: unset
                right: 0
                left: 0
                bottom: 0
                margin: 0 auto
                width: 50%
                border-right: 0
        .infoButton
            padding-top: 15px
            padding-left: 0
            p
                text-align: center
            .formButtons
                display: flex
                justify-items: center
                justify-content: center
                button
                    margin: 0 auto
                    display: block
