  <!-- Content Wrapper. Contains page content -->
  <app-social-float></app-social-float>

  <div id="homeContainer" class="content-wrapper fullWidth" >




    <!-- Content Header (Page header) -->
    <div class="headerBanner">

      <!-- background-image: url('../../../assets/resourcesWeb/Banner.jpg') -->
      <img
      *ngIf="this.isMobile() != true"
      src="../../../assets/resourcesWeb/Banner.jpg" alt="">
      <img
      *ngIf="this.isMobile() == true"
      src="../../../assets/resourcesWeb/Bannermobil.jpg" alt="">

      <div class="contenido">
        <div class="c">

          <h4>
            UNIDOS POR LO NUESTRO
          </h4>
          <h5>
            Hoy el sueño de muchos se hace realidad, bienvenidos<br>
            a Mercado Pyme, <br>
            la vitrina virtual de las Pymes
          </h5>
          <div class="centerCustom">
            <a [routerLink]="['/us']" routerLinkActive="active" class="buttonCustom btn btn-success btn-flat">Conoce más</a>
        </div>

      </div>
      </div>


    </div>
<!--
    <div class="row subHeader">
      <div class="goUs col-md-12 col-lg-5">

        <div class="contenido">
          <a [routerLink]="['/us']" routerLinkActive="active">
            NOSOTROS
          </a>
        </div>

      </div>
      <div class="zonePyme col-md-12 col-lg-7">
        <img src="../../../assets/resourcesWeb/zonapyme.jpg" alt="">
        <div class="contenido">
          <a [routerLink]="['/us']" routerLinkActive="active">
            ZONA PYME
          </a>
        </div>

      </div>
    </div> -->

    <!-- <div class="searchNav"> -->
  <app-search
  *ngIf="this.isMobile() == true"
  [title]="true"
  [backGreen]="true">

  </app-search>
<!-- </div> -->

    <div class="centerContenido container padd5">
      <div class="row">

        <app-category-lists class="col-md-12 col-lg-2" ></app-category-lists>

        <div class="resultList col-md-12 col-lg-10">

          <div class="productList">
            <h5 class="titleSection">
            {{ this._searchService.homeTitleResults }}
            </h5>
            <app-posts-lists></app-posts-lists>
          </div>

        </div>

      </div>
    </div>
  </div>


<div class="extraAnuncio" *ngIf="this._userService.estaLogueado() == false">

  <div class="text">
    <h4>
      ¿Quieres hacer parte <br>
      de Mercado Pyme?
    </h4>
  </div>
  <div class="infoButton">
    <div class="c">

      <p>
        ¡Registrate ahora y empieza a pautar con nosotros <br>
        a la vista de todos!
      </p>
      <div class="row formButtons">
        <a
        [routerLink]="['/register']"  routerLinkActive="active"
         class="smallButton btn btn-success btn-flat">Registrarse</a>
      </div>
    </div>


  </div>

</div>


<app-newsletter></app-newsletter>

