

<app-social-float></app-social-float>

<div id="centralContainer" class="content-wrapper fullWidth" >
        <div class="animated fadeInLeft fast header row">
            <div class="image col-md-12 col-lg-7">

            </div>
            <div class="info col-md-12 col-lg-5">

                    <div class="row">
                        <h1 class="title titleSpecial">
                            ¿QUIÉNES <br>
                            SOMOS?
                        </h1>
                    </div>



                    <div class="row">
                        <p class="textInfo">
                            Somos la Vitrina Virtual de las Pymes, aquí tus potenciales compradores podrán encontrarte y acceder a tu tienda online, página de Facebook, Instagram, WhatsApp o cualquier medio de contacto que uses.
                        </p>
                        <p class="textInfo">
                            Con la implementación de estrategias digitales conducimos tráfico desde redes sociales y buscadores a las diferentes categorías de la vitrina, impactando audiencias de alta calidad e importantes para ti, facilitando así el conectar con más compradores en diferentes regiones.
                        </p>
                        <p class="textInfo">
                            También te ayudamos con campañas publicitarias dirigidas para tu marca, ya que podrás acceder a planes especiales para tus Estrategias de marketing digital en Google Adwords y Redes Sociales
                        </p>
                    </div>

                <div class="row formButtons leftCustom">
                    <a  [routerLink]="['/register']"  class="buttonCustom btn btn-success btn-flat">Crea tu cuenta</a>
                </div>

        </div>
    </div>

    <div class="animated fadeInRight fast infoCenter row">
        <div class="container">
            <div class="row">
                <h1 class="title titleSpecial2 textCompleteCenter">
                    VENTAJAS DE ESTAR EN MERCADO PYME
                </h1>
            </div>
            <div class="infoIcons">

                <div class="row">
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/1.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Accederás a un <br>
                            gran público
                        </p>
                    </div>
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/2.svg" alt="">
                        </div>
                        <p class="texVenta">
                            No necesitas tener <br>
                            tu propia tienda online
                        </p>
                    </div>
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/3.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Tendrás opción de venta <br>
                            cruzada con otras marcas
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/4.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Tendrás un canal <br>
                            de ventas adicional
                        </p>
                    </div>
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/5.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Alcanzaras posicionamiento <br>
                            por pauta en buscadores
                        </p>
                    </div>
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/6.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Te verán <br>
                            en redes sociales
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/7.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Estimularas <br>
                            la demanda
                        </p>
                    </div>
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/8.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Podras tener mas tráfico <br>
                            en tus canales de venta
                        </p>
                    </div>
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/9.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Gestión personal de tus anuncios, <br> solo te llevará 15 minutos
                        </p>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="animated fadeInRight fast infoPlans row">
        <div class="container">
            <div class="row">
                <h1 class="title titleSpecial2 textCompleteCenter">
                    SUSCRIBE TU PUBLICACIÓN
                </h1>

            </div>
            <div class="infoData">

                <div class="datos">

                    <ul class="list">

                        <li>
                            <p>

                                Tendrás presencia en La Vitrina con segmentación por categoría de producto
                            </p>
                    </li>

                    <li>
                        <p>

                            Recibirás tráfico en la categoría de tu anuncio proveniente de nuestras estrategias de Marketing Digital en Facebook, Instagram y Google Adwords
                        </p>
                    </li>

                    <li>
                        <p>

                            Tus compradores podrán contactarte desde la plataforma en tu canal de venta (Instagram, Facebook, Página Web, Email o WhatsApp)
                        </p>
                    </li>

                    <li>
                        <p>

                            Tendrás acceso a planes preferenciales para campañas particulares de Marketing Digital dirigidas a tu marca <br>
                            <a style="font-weight: bold;" class="hiperButton" (click)="this.openPlanes()">(ver planes)</a>
                        </p>
                    </li>

                    <li>
                        <p>

                            Tu publicación podrá tener hasta 6 imágenes o tu catalogo en PDF, el cual podrá pesar máximo 5 MB
                        </p>
                    </li>

                </ul>
            </div>
                <div class="costs">

                    <div class="plan">
                        <h5>
                            PLAN SEMESTRAL
                        </h5>
                        <p>
                            $95.000
                        </p>
                    </div>
                    <div class="plan">
                        <h5>
                            PLAN ANUAL
                        </h5>
                        <p>
                            $145.000
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="extraAnuncio" *ngIf="this._userService.estaLogueado() == false">

        <div class="text">
          <h4>
            ¿Quieres hacer parte <br>
            de Mercado Pyme?
          </h4>
        </div>
        <div class="infoButton">
          <div class="c">

            <p>
                Crea tu Cuenta, suscribe tu publicación <br>
                y empieza a pautar con nosotros
            </p>
            <div class="row formButtons">
              <a
              [routerLink]="['/register']"  routerLinkActive="active"
               class="smallButton btn btn-success btn-flat">Crea Tu Cuenta</a>
            </div>
          </div>


        </div>

      </div>


        <div class="notaPrensa">

            <div class="row">
                <h1 class="title titleSpecial2 textCompleteCenter">
                    NOTAS DE PRENSA
                </h1>
            </div>

            <div class="row notas">
                <ul>
                    <li>
                        <a href="https://www.youtube.com/watch?v=DzWGeWCjySU">
                            <img src="../../../assets/resourcesWeb/Logo_la_republica.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>


        </div>

</div>


<app-planes
*ngIf="this.planes == true"

[planes]="this.planes"
(closePlanes)="cerrarModal()"
></app-planes>
