

<app-social-float></app-social-float>

<div id="centralContainer" class="content-wrapper fullWidth" >
        <div class="animated fadeInLeft fast header row">
            <div class="image col-md-12 col-lg-7">

            </div>
            <div class="info col-md-12 col-lg-5">

                    <div class="row">
                        <h1 class="title titleSpecial">
                            ¿QUIÉNES <br>
                            SOMOS?
                        </h1>
                    </div>

                    <div class="row">
                        <p class="textInfo">
                            Mercado Pyme es una vitrina virtual auto gestionable enfocada en Pymes, la cual te permite ofrecer tus productos o servicios y conectar con compradores de diferentes regiones.
                        </p>
                        <p class="textInfo">
                            En nuestra plataforma tus potenciales compradores podrán acceder a tu tienda online, página de Facebook, Instagram, WhatsApp o cualquier medio de contacto que uses, impactando audiencias de alta calidad e importantes para ti.
                        </p>
                        <p class="textInfo">

                            También podrán geo-localizarte, calificarte y dejar comentarios que podrás contestar, potencializando la experiencia de interacción con tu marca, así también otros usuarios sabrán que tu marca se preocupa por ellos y los alentará a tomar la decisión de compra.
                        </p>
                    </div>

                <div class="row formButtons leftCustom">
                    <a  [routerLink]="['/register']"  class="buttonCustom btn btn-success btn-flat">Registrate</a>
                </div>

        </div>
    </div>

    <div class="animated fadeInRight fast infoCenter row">
        <div class="container">
            <div class="row">
                <h1 class="title titleSpecial2 textCompleteCenter">
                    VENTAJAS DE ESTAR EN MERCADO PYME
                </h1>
            </div>
            <div class="infoIcons">

                <div class="row">
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/1.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Accederás a un <br>
                            gran público
                        </p>
                    </div>
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/2.svg" alt="">
                        </div>
                        <p class="texVenta">
                            No necesitas tener <br>
                            tu propia tienda online
                        </p>
                    </div>
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/3.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Tendrás opción de venta <br>
                            cruzada con otras marcas
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/4.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Tendrás un canal <br>
                            de ventas adicional
                        </p>
                    </div>
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/5.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Alcanzaras posicionamiento <br>
                            por pauta en buscadores
                        </p>
                    </div>
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/6.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Te verán <br>
                            en redes sociales
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/7.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Estimularas <br>
                            la demanda
                        </p>
                    </div>
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/8.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Podras tener mas tráfico <br>
                            en tus canales de venta
                        </p>
                    </div>
                    <div class="dataVenta col-md-12 col-lg-4">
                        <div class="ico">
                            <img src="../../../assets/dist/img/aboutUs/icons/9.svg" alt="">
                        </div>
                        <p class="texVenta">
                            Gestión personal de tus anuncios, <br> solo te llevará 15 minutos
                        </p>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="animated fadeInRight fast infoPlans row">
        <div class="container">
            <div class="row">
                <h1 class="title titleSpecial2 grisOscuro textCompleteCenter">
                    ELIGE EL PLAN QUE MEJOR SE ADAPTE A TUS NECESIDADES
                </h1>
                <h5>
                    Cámbiate de plan, suspende o cancela tu pauta cuando lo desees sin cláusulas
                </h5>
            </div>
            <div class="infoData">
                <div class="container">
                    <div class="row">

                        <div class="tarjetaPrecio">
                            <div class="card">
                                <div class="card-header">
                                    <h4>
                                        PLAN <br> MICRO
                                    </h4>
                                    <h6>
                                        Sueña en Grande
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <p>Pauta con segmentación por categoría de producto</p>
                                        </li>
                                        <li>
                                            <p>Descripción general para tu publicación</p>
                                        </li>
                                        <li>
                                            <p>Posibilidad de recibir y responder comentarios de los visitantes</p>
                                        </li>
                                        <li>
                                            <p>Direccionamiento a tu canal de venta (Instagram, Facebook, Página Web, Email o WhatsApp)</p>
                                        </li>
                                        <li>
                                            <p>Estrategia en <strong>Facebook</strong> para llevar tráfico a la categoría de Mercado PYME donde está tu anuncio</p>.
                                            <br>
                                        </li>
                                        <li class="special">
                                            <p>Publicación con 3 imágenes*</p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="card-footer">
                                	<ul>
                                		<li class="price">
                                            <p>
                                                $55.000 <span>MES**</span>
                                            </p>
                                        </li>
                                	</ul>
                                </div>
                            </div>
                        </div>
                        <div class=" tarjetaPrecio">
                            <div class="card">
                                <div class="card-header">
                                    <h4>
                                        PLAN <br> PEQUEÑO
                                    </h4>
                                    <h6>
                                        Derriba Obstáculos
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <p>Pauta con segmentación por categoría de producto</p>
                                        </li>
                                        <li>
                                            <p>Descripción general para tu publicación</p>
                                        </li>
                                        <li>
                                            <p>Posibilidad de recibir y responder comentarios de los visitantes</p>
                                        </li>
                                        <li>
                                            <p>Direccionamiento a tu canal de venta (Instagram, Facebook, Página Web, Email o WhatsApp)</p>
                                        </li>
                                        <li>
                                            <p>Estrategia en <strong>Facebook e Instagram</strong> para llevar tráfico a la categoría de Mercado PYME donde está tu anuncio.</p>
                                        </li>
                                        <li class="special">
                                            <p>Publicación con 6 imágenes*</p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="card-footer">
                                  <ul>
                                  	  <li class="price">
                                            <p>
                                                $95.000 <span>MES**</span>
                                            </p>
                                        </li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                        <div class=" tarjetaPrecio">
                            <div class="card">
                                <div class="card-header">
                                    <h4>
                                        PLAN <br> MEDIANO
                                    </h4>
                                    <h6>
                                        Expande Horizontes
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <p>Pauta con segmentación por categoría de producto</p>
                                        </li>
                                        <li>
                                            <p>Descripción general para tu publicación</p>
                                        </li>
                                        <li>
                                            <p>Posibilidad de recibir y responder comentarios de los visitantes</p>
                                        </li>
                                        <li>
                                            <p>Direccionamiento a tu canal de venta (Instagram, Facebook, Página Web, Email o WhatsApp)</p>
                                        </li>
                                        <li>
                                            <p>Estrategia en <strong>Facebook, Instagram y red de búsqueda google adwords</strong> para llevar tráfico a la categoría de Mercado PYME donde está tu anuncio.</p>
                                        </li>
                                        <li class="special">
                                            <p>Publicación con 12 imágenes*</p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="card-footer">
                                  <ul>
                                  	<li class="price">
                                            <p>
                                                $125.000 <span>MES**</span>
                                            </p>
                                        </li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                        <div class=" tarjetaPrecio">
                            <div class="card">
                                <div class="card-header">
                                    <h4>
                                        PLAN <br> SUPERPYME
                                    </h4>
                                    <h6>
                                        Vuela Alto
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            <p>Pauta con segmentación por categoría de producto</p>
                                        </li>
                                        <li>
                                            <p>Descripción general para tu publicación</p>
                                        </li>
                                        <li>
                                            <p>Posibilidad de recibir y responder comentarios de los visitantes</p>
                                        </li>
                                        <li>
                                            <p>Direccionamiento a tu canal de venta (Instagram, Facebook, Página Web, Email o WhatsApp)</p>
                                        </li>
                                        <li>
                                           <p>Estrategia en <strong>Facebook, Instagram y red de búsqueda google adwords</strong> para llevar tráfico a la categoría de Mercado PYME donde está tu anuncio.</p>
                                        </li>
                                        <li class="special">
                                             <p>Publicación con Catalogo o Portafolio en PDF</p>
                                        </li>

                                    </ul>
                                </div>
                                <div class="card-footer">
                                  <ul>
                                  	  <li class="price">
                                            <p>
                                                $200.000 <span>MES**</span>
                                            </p>
                                        </li>
                                  </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <h5 class="iva">
                            * Podrá ser de uno o varios productos o servicios diferentes                                                                                                  <br>
                            **Tarifas IVA incluido
                        </h5>
                    </div>

                </div>

            </div>
        </div>
    </div>
        <div class="infoDiscount">
            <div class="text element">
                Descuentos <br>
                por compra <br>
                de paquetes
            </div>
            <div class="element month">
                <h4>
                    3 meses:
                </h4>
                <h3>
                    10%
                </h3>
            </div>
            <div class="element month">
                <h4>
                    6 meses:
                </h4>
                <h3>
                    20%
                </h3>
            </div>
        </div>


</div>
