


  <div id="id01" class="w3-modal"
  [ngClass]="{
    'block': this._postService.PDFFILE != null,
    'none': this._postService.PDFFILE == null
  }"

  (clickOutside)="ocultarClick($event)"
  >
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal">
        <span (click)="cerrarModal()"
        class="w3-button w3-display-topright">&times;</span>
        <h2>Catálogo</h2>
      </header>
      <div class="w3-container">

        <!-- [src]="this._postService.PDFFILE" -->
        <pdf-viewer
        [src]="this._postService.PDFFILE"
        [render-text]="true"
        [fit-to-page]="true"
        style="display: block;">
        </pdf-viewer>



      </div>

    </div>
  </div>


