



@import "~src/generals"

.buscadorGlobal
    padding: 25px 0
    // padding-bottom: 50px
    *
        box-sizing: border-box!important
    // @include responsivo(telefonoTable)
        // padding-bottom: 50px
    // @include responsivo(pcMedio)
        // padding-bottom: 50px
    @include responsivo(general)
        margin-right: 0px!important
        // margin-left: 15px!important
    @include responsivo(resto)
        margin-right: 0px!important
        // margin-left: 15px!important
    h5
        width: 100%
        text-align: center
        font-size: 28px
        color: white
        margin-bottom: 15px
        margin-top: 0

    form
        width: 100%
        display: block
        margin: 0!important
        .input-group
            display: flex!important
            flex-direction: row!important
            justify-content: center
            align-items: center
            align-content: center
            border-radius: 0
            input
                width: 60%
                display: block
                height: 35px
                width: auto
                // max-width: 300px
                border-radius: .2rem 0 0 .2rem!important
                border: 0!important
                @include responsivo(telefonoTable)
                    max-width: 100%
                @include responsivo(pcMedio)
                    max-width: 100%
            .input-group-append
                border-radius: 0
                width: fit-content!important
                display: flex
                justify-content: center
                align-content: center
                align-items: center
                height: 35px
                margin: 0
                button
                    border-radius: 0 .2rem .2rem 0!important
                    transition: $trans
                    background-color: $VerdeOscur
                    height: 35px
                    color: white

        &:hover
            .input-group-append
                button
                    background-color: $VerdeClar
        .input-group.input-group-sm
            width: 100%
            display: block
            @include responsivo(telefonoTable)
                padding: 0 3.8%!important
            @include responsivo(pcMedio)
                padding: 0 3.8%!important

.buscadorGlobal.backGreen
    background-color: $VerdeClar
    .input-group
        .input-group-append
            border-radius: 0
            width: fit-content!important
            display: flex
            justify-content: center
            align-content: center
            align-items: center
            height: 35px
            margin: 0
            button
                border-radius: 0
                transition: $trans
                background-color: $VerdeOscur!important
                height: 35px
                color: white!important
        @include responsivo(telefonoTable)
            justify-content: flex-end!important
            padding-right: 3%!important
        @include responsivo(pcMedio)
            justify-content: flex-end!important
            padding-right: 3%!important
    @include responsivo(telefonoTable)
        padding: 7.5px 0!important
    @include responsivo(pcMedio)
        padding: 7.5px 0!important