






<div class="buscadorGlobal" [ngClass]="{'backGreen': this.backGreen == true}">


    <form
    ngNativeValidate
    #f="ngForm"
    (ngSubmit)="searchByText( f )"
    class="buscador form-inline ml-3">
      <div class="input-group input-group-sm">
        <input name="Busqueda" ngModel class="form-control form-control-navbar" type="search" placeholder="Busqueda" aria-label="Busqueda">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>


</div>