
<div *ngIf="(this.publication != undefined)" id="homeContainer" class="contentGeneral content-wrapper">
  <!-- Content Header (Page header) -->

  <app-pdf-view  *ngIf="this._postService.PDFFILE != null"  >

  </app-pdf-view>


  <!-- maldita sea -->
  <app-post-edition
  *ngIf="this.editOpen == true"
  [Edit]="this.editOpen"
  [publicacion]="this.publication"
  (closeEdit)="cerrarModal()"
  >
  </app-post-edition>




<div
*ngIf="this.canEdit == true"
class="floatButton bottom" id="floatButton">



<div class="formButtons">
  <button (click)="openEdit()" type="button" class="buttonCustom btn btn-warning btn-flat">
    <i class="fas fa-pencil-alt    "></i>
    Editar publicación</button>
</div>



</div>




  <!-- Main content -->
  <section >

            <div class="row migPan padd10">

            </div>
            <div class="row padd10 infoGeneralContent">
              <div class="fileSide col-md-12 col-lg-6"
              *ngIf="(this.publication != undefined) && (this.publication._files.length > 0) && this.publication._files[0].type === 'PDF' "
              [ngClass]="{'typePDF': (this.publication._files[0]) && this.publication._files[0].type === 'PDF'}">


                <pdf-viewer
                class="pdfList"
                [src]="this.publication._files[0].file | imagen:'Post':this.publication._files[0].folder "
                [render-text]="false"
                [page]="1"
                [show-all]="false"

                [original-size]="false"
                [autoresize]="false"
                style="display: block;">
                </pdf-viewer>


                <div class="iconoDownload">
                  <a (click)="this.openPDF(this.publication._files[0].file)"  class="hiperButtonWhite" >
                    <i class="fas fa-download    "></i>
                    Visualizar catálogo
                  </a>
                </div>

              </div>
              <div class="fileSide col-md-12 col-lg-6" *ngIf="(this.publication != undefined) && (this.publication._files.length > 0) && this.publication._files[0].type != 'PDF' ">


                <div class="front col-12">
                  <img [src]="this.imgActive | imagen:'Post':this.publication._id " class="product-image" alt="Product Image">
                </div>
                <div class="list col-12 product-image-thumbs" >

                  <a class="arrowIMG" (click)="sliderIMG(-1)" >
                    <i class="fas fa-arrow-left    "></i>
                  </a>
                  <div  *ngFor="let files of this.publication._files.slice(this.imgPaginate, this.imgPaginate + 4); let i = index" class="animated fadeIn fast  product-image-thumb" (click)="setActiveIMG( files, i )" >

                      <img  [src]="files.file | imagen:'Post':files.folder " alt="Product Image">

                  </div>
                  <a class="arrowIMG" (click)="sliderIMG(+1)" >
                    <i class="fas fa-arrow-right    "></i>
                  </a>

                </div>
              </div>



              <div class="infoSide col-md-12 col-lg-6">

                <div
                style="overflow: initial!important; z-index: 0;"
                *ngIf="(this._userService.estaLogueado() == true) && (this._userService.roleName == 'Administrador')" class="ribbon-wrapper ribbon-lg">
                  <div
                  *ngIf="(this.publication.status == true)"
                  class="ribbon bg-success">
                  <h5
                  style="margin: 0!important">

                    Aprobada
                  </h5>
                  </div>
                  <div
                  *ngIf="(this.publication.status == false)"
                  class="ribbon bg-danger">
                  <h5
                  style="margin: 0!important">

                    No aprobada
                  </h5>
                  </div>
                </div>

                <div class="dataHeader">

                  <!-- <h5 class="titleSpecial6">
                    {{ this.publication._category._principal._category }} - {{ this.publication._category.child }}
                  </h5> -->

                  <ul *ngIf="(this.publication._category.length > 0)">
                    <li *ngFor="let cate of this.publication._category"
                    [ngStyle]="{'display': ((cate._principal == null) || (cate._child == null))? 'none': '' }"
                    >
                      <!-- *ngIf="(cate._principal != null) && (cate._child != null)" -->
                      <h5 class="titleSpecial6"
                      *ngIf="(cate._principal != null) && (cate._child != null)"
                      >
                            {{ cate._principal._category }} - {{ cate.child }}
                      </h5>
                    </li>
                </ul>

                  <small>
                    {{ this.publication.created_at }}
                  </small>
                  <small>
                    {{ this.ciudades }}
                  </small>

                  <h3 class="title">
                    {{ this.publication.title }}
                  </h3>
                </div>



                <h5 class="titleDesc">
                  Descripción
                </h5>
                <div class="row desc">
                  <div class="col-md-12 col-lg-12">
                    <h6>
                      Incluye:
                    </h6>
                    <p>
                      {{ this.publication.content | stringLimit:99999 }}
                    </p>
                    <hr>
                  </div>
                  <div class="col-md-12 col-lg-12">
                    <h6>
                      No incluye:
                    </h6>
                    <p>
                      {{ this.publication.notContent | stringLimit:99999 }}
                    </p>
                    <hr>
                  </div>
                </div>

                <div class="reactions">
                  <ul>


                    <li>
                      <a (click)="sendReaction('like')" [ngClass]="{'active': this.reactions.myReaction == 'like'}">

                        <i class="fas fa-thumbs-up"></i>
                        <span class="number">
                          {{ this.reactions.like }}
                        </span>
                      </a>
                    </li>
                    <li>
                      <a (click)="sendReaction('dislike')" [ngClass]="{'active': this.reactions.myReaction == 'dislike'}">

                      <i class="fas fa-thumbs-down"></i>
                      <span class="number">
                        {{ this.reactions.dislike }}
                      </span>
                    </a>
                    </li>
                  </ul>
                </div>

                <div class="contact">
                  <div class="formButtons">
                    <button [routerLink]="['/user', this.publication.user._id]" routerLinkActive="active" type="button" class="buttonCustom btn btn-success btn-flat">Contactar</button>
                  </div>

                </div>

                <div class="userOwner">
                  <a class="navButton" [routerLink]="['/user', this.publication.user._id]" routerLinkActive="active">
                    <div class="ico">
                      <img src="../../../assets/dist/img/logoUser.svg" alt="">
                    </div>
                      <span *ngIf="this.publication.user.role != 'EMPRESA_ROLE'">
                        {{ this.publication.user.name }} {{ this.publication.user.surname }}
                      </span>
                      <span *ngIf="this.publication.user.role == 'EMPRESA_ROLE'">
                        {{ this.publication.user._dataPyme.nameCompany }}
                      </span>
                  </a>
                </div>

                <div class="star row">

                  <star-rating
                  labelPosition="right"
                  [labelText]="this.ratingStars"
                  id="starsSetter"
                  size="medium"
                  [readOnly]="false"
                  [showHalfStars]="true"
                  (starClickChange)="sendPuntaje($event)"
                  [starType]="'svg'"
                  [rating]="this.ratingStars">
                </star-rating>


                </div>




                <div *ngIf="( this.publication._socialNet )" class="row socialShare">
                  <a (click)="goSocial('whatsapp')" *ngIf="( this.publication._socialNet.whatsapp ) && this.publication._socialNet.whatsapp != '' "  class="text-gray">
                    <i class="fab fa-whatsapp"></i>
                  </a>
                  <a (click)="goSocial('instagram')" *ngIf="( this.publication._socialNet.instagram ) && this.publication._socialNet.instagram != '' "  class="text-gray">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a (click)="goSocial('facebook')" *ngIf="( this.publication._socialNet.facebook ) && this.publication._socialNet.facebook != '' "  class="text-gray">
                    <i class="fab fa-facebook"></i>
                  </a>
                  <a (click)="goSocial('web')" *ngIf="( this.publication._socialNet.web ) && this.publication._socialNet.web != '' "  class="text-gray">
                    <i class="fas fa-globe"></i>
                  </a>
                </div>

              </div>
            </div>

            <div *ngIf="this.publication.user.role == 'EMPRESA_ROLE' && this.publication.user._dataPyme.logo != '' " class="row padd10 logoCompany">


              <img [src]="this.publication.user._dataPyme.logo | imagen:'User':this.publication.user._id" alt="">

            </div>

            <div class="row padd10 cityTarget">

              <div  class="contentTitleHr">

                <h4 style="margin-bottom: 15px;" class="titleSpecial4">
                Trabajamos en
              </h4>
              <hr>
            </div>
              <div class="ciudades col-md-12 col-lg-12">
                <ul>
                  <li *ngFor="let cityTarget of this.publication._cityTarget" >
                    <i class="fas fa-map-marked    "></i>
                    {{ cityTarget.department }} - {{ cityTarget.city }}
                  </li>
                </ul>

              </div>


            </div>
            <div class="comentarios padd10">
              <div class="row" style="margin-bottom: 0;">

                <div  class="col-md-12 col-lg-6 contentTitleHr">

                  <h4 style="margin-bottom: 15px;" class="titleSpecial4">
                    Opiniones
                  </h4>
                  <hr>
                </div>

              </div>
              <div *ngIf="(this.comments) && (this.comments.length > 0)" class="col-md-12 col-lg-6 opiniones">

                <div *ngFor="let c of this.comments; let i = index;" class="ccomment">
                    <div class="hd">
                      <!-- <img [src]="this._userService.usuario.imgProfile | imagen:'User':this._userService.usuario._id" alt=""> -->

                      <img style="width: 25px; height: 25px;" src="../../../assets/dist/img/logoUser.svg" alt="">
                      <p>
                        {{ c.userName }} <br>
                        <span>
                          {{ c.created_at }}
                        </span>
                      </p>
                    </div>
                    <div class="msj">
                      <p>
                      {{ c.text }}
                      </p>
                    </div>
                    <div class="reactions">
                      <div *ngIf="( this._userService.estaLogueado() == true ) && ( this.canDeleteComment( c, i ) == true )" class="opc">
                        <button  (click)="deleteComment(c._id)" type="button" class="smallButton btn btn-danger btn-sm">
                          <i class="fas fa-trash    "></i>
                          Eliminar
                        </button>
                      </div>
                      <div class="rct">

                        <ul>
                          <li>
                            <a [ngClass]="{'active': c.myReaction == 'like'}" (click)="this.sendReactionComment(c ,'like')"
                            >
                            <!-- [ngClass]="{'active': this.reactions.myReaction == 'like'}" -->

                              <i class="fas fa-thumbs-up"></i>
                              <span   class="number">
                                {{ c.like || 0 }}
                                <!-- {{ this.reactions.like }} -->
                              </span>
                            </a>
                          </li>
                          <li>
                            <a [ngClass]="{'active': c.myReaction == 'dislike'}" (click)="this.sendReactionComment(c ,'dislike')"
                            >
                            <!-- [ngClass]="{'active': this.reactions.myReaction == 'dislike'}" -->

                            <i class="fas fa-thumbs-down"></i>
                            <span  class="number">
                              {{ c.dislike || 0 }}
                              <!-- {{ this.reactions.dislike }} -->
                            </span>
                          </a>
                          </li>
                        </ul>

                      </div>
                    </div>
                </div>

              </div>

              <div class="row">


                <div class="col-md-12 col-lg-6 comenta">

                  <!-- <div *ngIf="this._userService.estaLogueado() == true" class="comentBox"> -->
                  <div  class="comentBox">
                    <h5 style="margin-bottom: 15px;" class="titleSpecial6">
                      Comenta
                    </h5>

                    <form
                    ngNativeValidate
                    #f="ngForm"
                    (ngSubmit)="sendComment( f )">
                    <div class="row">

                      <div class="form-group col-md-12 col-lg-12">
                        <!-- <label for="IncludeDesc">¿Qué incluye?</label> -->
                        <textarea  ngModel name="coment" class="form-control" rows="3" ></textarea>
                      </div>
                    </div>

                    <div class="row formButtons">

                      <button  class="buttonCustom btn btn-success btn-flat" >
                        Enviar
                      </button>
                    </div>

                    </form>
                  </div>
                  <!-- <div *ngIf="this._userService.estaLogueado() == false" class="noLogeadoComment">
                    <h5 style="margin-bottom: 15px; text-align: center;" class="titleSpecial6">
                      ¿Te gustaría hacer un comentario?
                    </h5>

                    <div class="row formButtons centerCustom">

                      <button class="buttonCustom btn btn-success btn-flat" (click)="goLogin()">
                        ¡Inicia sesión!
                      </button>
                    </div>
                  </div> -->
                </div>
              </div>


            </div>

            <div class="row " *ngIf="(this.publication._mapUrl) && this.publication._mapUrl.mapUrl != null">

              <div class="map col-md-12 col-lg-12" >
                <!-- <h4 style="margin-bottom: 15px;" class="titleSpecial4">
                  Geolocalización:
                </h4> -->

                <div  class="boxMap"  *ngIf="this.activateMap == true">

                  <div *ngIf="this.map != null" [innerHtml]="this.map | safeUrl" style="width: 100%"></div>

                </div>

              </div>
              </div>



              <!-- <div *ngIf="(this._searchService.registros) && this._searchService.registros.length > 0" class="row others padd10"> -->

                <!-- {{ this.publication._category._principal._category }} -->
                <app-posts-lists
                class="row others padd10"
                [idUser]="this.publication.user._id"
                [not]="this.publication._id"
                [type]="'sugerencia'"
                [byCategory]="this.publication._category[0]._principal._id">

                </app-posts-lists>

              <!-- </div> -->
  </section>

</div>