
<app-social-float></app-social-float>

<div class="zonaPymesPage">

  <div class="contTitle">
    <div class="title">
      <h1>
        ZONA PYME
      </h1>
      <p>
        Servicios para que tus metas no se detengan
      </p>
    </div>
  </div>

  <div class="container contenido">
    <div class="row infoRow type1 p1">
      <div class="img col-md-12 col-lg-6 ">
        <img src="../../../assets/dist/img/zonaPyme/1.png" alt="">
      </div>
      <div class="info col-md-12 col-lg-6 ">
        <div class="texto">
          <h2>
            DISEÑO WEB
          </h2>
          <p>
            Creamos tu tienda en línea
          </p>
            <div class="row formButtons">

            <button
            [routerLink]="[ '/contact' ]"

              type="button"
              class="smallButton btn btn-success btn-flat"
            >
            Contactanos
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="row infoRow type2">
      <div class="info col-md-12 col-lg-6 ">
        <div class="texto">
          <h2>
            MARKETING DIGITAL
          </h2>
          <p>
            Estrategias SEM y Social Media optimizadas <br>
            para comunicar con tus clientes
          </p>
            <div class="row formButtons">
            <button
            [routerLink]="[ '/contact' ]"

              type="button"
              class="smallButton btn btn-success btn-flat"
            >
            Contactanos
            </button>
          </div>
        </div>
      </div>
      <div class="img col-md-12 col-lg-6 ">
        <img src="../../../assets/dist/img/zonaPyme/2.jpg" alt="">
      </div>

    </div>
    <div class="row infoRow type1">
      <div class="img col-md-12 col-lg-6 ">
        <img src="../../../assets/dist/img/zonaPyme/3.jpg" alt="">
      </div>
      <div class="info col-md-12 col-lg-6 ">
        <div class="texto">
          <h2>
            TEXTING
          </h2>
          <p>
            Campañas de SMS Marketing
          </p>
            <div class="row formButtons">
            <button
            [routerLink]="[ '/contact' ]"

              type="button"
              class="smallButton btn btn-success btn-flat"
            >
            Contactanos
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>